<div class="header pb-8 pt-5  d-flex align-items-center">
  <!-- Mask -->
  <span class="mask bg-gradient-danger opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-white">Booking</h1>
        <a class="btn btn-info" tabindex="-1" routerLink="/Dashboard/Booking/CreateBooking">Create Booking</a>
        <a class="btn btn-info" tabindex="-1" routerLink="/Dashboard/Booking/BookingList">Booking List</a>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>


