


.autocomplete-container .input-container input {
    font-size: 0.875rem;
    box-sizing: border-box;
    border: 0;
    box-shadow: 0 1px 3px rgba(50, 50, 93, 0.15), 0 1px 0 rgba(0, 0, 0, 0.02);
    transition: box-shadow 0.15s ease;
    outline: 0;
    background-color: inherit;
    width: 100%;
    height: 100%;
    font-weight: 400;
    line-height: 1.5;
    color: #8898aa;
  }
  
  .ng-autocomplete {
    width: auto;
  }
  
  .autocomplete-container.active {
    z-index: 0;
  }
  .autocomplete-container {
    box-shadow: none;
    position: absolute;
    overflow: visible;
    height: 40px;
  }
  
  
  .autocomplete-container .input-container input{
    font-size: 0.875rem;
    box-shadow: 0 1px 3px rgba(50, 50, 93, 0.15), 0 1px 0 rgba(0, 0, 0, 0.02);
    border: 0;
    transition: box-shadow 0.15s ease;
  }
  