<div class="container-fluid mt--7">
    <div class="row">
      <div class="col-xl-8 order-xl-1">
        <div class="card bg-secondary shadow">
          <form (ngSubmit)="createMenuMaster()" [formGroup]="createMenu" class="forms-sample">
            <div class="card-header bg-white border-0">
              <div class="row align-items-center">
                <div class="col-8">
                  <h3 class="mb-0">Create New Menu</h3>
                </div>
                <div class="col-4 text-right">
                  <button class="btn btn-sm btn-secondary" type="reset">Reset</button>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div *ngIf="menuCreatedSuccess" class="alert alert-success">
                Menu Created Successfully
              </div>
              <h6 class="heading-small text-muted mb-4">Menu Information</h6>
              <div class="row">
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="menu_category">Menu Category</label>

                    <div class="ng-autocomplete">

                      <ng-autocomplete (inputChanged)="onChangeMenu($event)"
                                       (inputCleared)='onMenuCleared()'
                                       (keydown.enter)="$event.preventDefault()"
                                       (selected)='selectEventMenu($event)'
                                       [customFilter]="menuFilter" [data]="menuDetails"
                                       [itemTemplate]="menuListTemplate"
                                       [searchKeyword]="menuCategoryKeyword"
                                       formControlName="menu_category"
                                       id="menu_category" placeholder="Enter Menu Category">
                      </ng-autocomplete>
    
                      <ng-template #menuListTemplate let-item>
                        <a [innerHTML]="item.menu_category"></a>
                      </ng-template>
                      <div *ngIf="createMenu.controls.menu_category.errors?.required && createMenu.controls.menu_category.touched" class="text-danger font-weight-bold">
                        Menu  Category is required
                      </div>
    
                    </div>

                    <!-- <input
                      [ngClass]="{ 'is-invalid': createMenu.controls.menu_category.errors && createMenu.controls.menu_category.touched  }"
                      class="form-control form-control-alternative"  formControlName="menu_category" id="menu_category"
                      placeholder="Menu Category" type="text"> -->
                    <div
                      *ngIf="createMenu.controls.menu_category.errors && createMenu.controls.menu_category.touched "
                      class="invalid-feedback">
                      
                      
                    </div>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="menu_name">Menu Name</label>
                    <div class="ng-autocomplete">

                      <ng-autocomplete (inputChanged)="onChangeMenuName($event)"
                                       (inputCleared)='onMenuNameCleared()'
                                       (keydown.enter)="$event.preventDefault()"
                                       (selected)='selectEventMenuName($event)'
                                       [customFilter]="menuNameFilter" [data]="menuDetails2"
                                       [itemTemplate]="menuNameListTemplate"
                                       [searchKeyword]="menuNameKeyword"
                                       formControlName="menu_name"
                                       id="menu_name" placeholder="Enter Menu Name">
                      </ng-autocomplete>
    
                      <ng-template #menuNameListTemplate let-item>
                        <a [innerHTML]="item.menu_name"></a>
                      </ng-template>
  
                      <div *ngIf="existingMenuName" class="text-danger font-weight-bold">
                        Menu Name is Already Taken With This Category
                      </div>

                      <div *ngIf="createMenu.controls.menu_name.errors?.required && createMenu.controls.menu_name.touched " class="text-danger font-weight-bold">
                        Menu Name is required
                      </div>
                    </div>
                    <!-- <input
                      [ngClass]="{ 'is-invalid': createMenu.controls.menu_name.errors && createMenu.controls.menu_name.touched  || existingMenuName}"
                      class="form-control form-control-alternative" formControlName="menu_name" id="menu_name"
                      placeholder="Contact Number" type="text"> -->
                    <div *ngIf="createMenu.controls.menu_name.errors && createMenu.controls.menu_name.touched  || existingMenuName"
                      class="invalid-feedback">
                      
              
                    </div>
                  </div>
                </div>
              </div>
  
              <div class="row">
                <div class="col-lg-6">
                  <button [disabled]="!createMenu.valid" class="btn bg-gradient-danger text-white" type="submit">
                    Create
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  
  