<div *ngIf="noInternetConnection" class="container1 d-flex justify-content-center">
  <div class="row justify-content-center ">
    <div class="col">
      <div class="card p-5">

        <div class="card-body px-sm-4">
          <h1>⚠</h1>
          <h2 *ngIf="noInternetConnection">No Connection</h2>
          <p>Sorry we cant establish connection to the server or internet.</p>
          <div class="row justify-content-end mt-4 ">
            <div class="col-auto"><button (click)="checkConnection()" type="button" class="btn btn-success"><span>Try Again</span></button></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
