
.container1 {
  position: absolute;
  z-index: 999;
  background-color: #0000001f;
  position: absolute;
  width: 100%;
  top: 0px;
  left: 0px;
  height: 100vh;
  align-items: center;
  justify-content: center;
  display: grid;
}

html,body { margin:0; padding:0; }
html {
  background: #191919 -webkit-linear-gradient(top, #000 0%, #191919 100%) no-repeat;
  background: #191919 linear-gradient(to bottom, #000 0%, #191919 100%) no-repeat;
}
body {
  font-family: sans-serif;
  color: #FFF;
  text-align: center;
  font-size: 150%;
}
