<div class="progress-loader" [hidden]="!isLoading">
  <div class="loading-spinner">
    <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
  </div>
</div>
