<div class="header pb-8 pt-5 d-flex align-items-center">
  <!-- Mask -->
  <span class="mask bg-gradient-danger opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-white">Bank Master</h1>
        <a class="btn btn-info" routerLink="/Dashboard/Masters/BankMaster/CreateBank">Create Bank</a>
        <a class="btn btn-info" routerLink="/Dashboard/Masters/BankMaster/BankList">Bank List</a>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>





