<div class="container-fluid mt--7">
  <div class="row">
    <div class="col">

      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0">Stock List</h3>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
            <tr>
              <th>S No</th>
              <th>Stock Name</th>
              <th>MRP</th>
              <th>Quantity</th>
              <th>Stock Available</th>
              <th>Value</th>
              <th>Inventory</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let stock of stockData">

              <td>{{stock.id}}</td>
              <td>{{stock.stock_name}}</td>
              <td>{{stock.stock_mrp}}</td>
              <td>{{stock.stock_qty}}</td>
              <td>{{stock.stock_available}}</td>
              <td>{{stock.stock_value}}</td>
              <td>{{stock.is_inventory}}</td>
              <td>
                <a class="btn btn-sm btn-primary"
                   routerLink="/Dashboard/Masters/StockMaster/EditStock/{{stock.id}}">
                  <span class="menu-title">Edit</span>
                </a>
                <button class="btn btn-sm  btn-danger" (click)="deleteStock(stock.id)">Delete</button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>

        <div  *ngIf="noStockFound" class="card p-4 text-center my-4" style="width: 100%;">
          <b>No Stock is Created yet</b>
        </div>
<!--        <div class="card-footer py-4">-->
<!--          <nav aria-label="...">-->
<!--            <ul class="pagination justify-content-end mb-0">-->
<!--              <li class="page-item disabled">-->
<!--                <a class="page-link" href="javascript:void(0)" tabindex="-1">-->
<!--                  <i class="fas fa-angle-left"></i>-->
<!--                  <span class="sr-only">Previous</span>-->
<!--                </a>-->
<!--              </li>-->
<!--              <li class="page-item active">-->
<!--                <a class="page-link" href="javascript:void(0)">1</a>-->
<!--              </li>-->
<!--              <li class="page-item">-->
<!--                <a class="page-link" href="javascript:void(0)">2 <span class="sr-only">(current)</span></a>-->
<!--              </li>-->
<!--              <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>-->
<!--              <li class="page-item">-->
<!--                <a class="page-link" href="javascript:void(0)">-->
<!--                  <i class="fas fa-angle-right"></i>-->
<!--                  <span class="sr-only">Next</span>-->
<!--                </a>-->
<!--              </li>-->
<!--            </ul>-->
<!--          </nav>-->
<!--        </div>-->
      </div>
    </div>
  </div>
</div>
