<div class="header bg-gradient-danger py-4 py-lg-5">
  <div class="container">
    <div class="header-body text-center mb-7">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-6">
          <h1 class="text-white">Welcome to Shanti Vatika</h1>
          <p class="text-lead text-light">Admin Panel</p>
        </div>
      </div>
    </div>
  </div>
  <div class="separator separator-bottom separator-skew zindex-100">
    <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
      <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
</div>
<!-- Page content -->
<div class="container mt--8 pb-5">
  <div class="row justify-content-center">
    <div class="col-lg-5 col-md-7">
      <div class="card bg-secondary shadow border-0">
        <div class="card-body px-lg-5 py-lg-5">
          <div class="text-center text-muted mb-4">
            <small>Sign in with Your credentials</small>
          </div>
          <form  (ngSubmit)="onLogin()" [formGroup]="loginForm">
            <div *ngIf="showError" class="alert alert-danger">
              Invalid Credentials
            </div>
            <div class="form-group mb-3">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                </div>
                <input [ngClass]="{ 'is-invalid': loginForm.controls.email.errors && loginForm.controls.email.touched }"
                  class="form-control" placeholder="Email" formControlName="email" type="email" />
                <div *ngIf="loginForm.controls.email.errors && loginForm.controls.email.touched"
                     class="invalid-feedback">
                  <div *ngIf="loginForm.controls.email.errors?.required" class="text-danger font-weight-bold">Email is
                    required
                  </div>
                </div>
              </div>

            </div>
            <div class="form-group">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                </div>
                <input  [ngClass]="{ 'is-invalid': loginForm.controls.password.errors && loginForm.controls.password.touched }"
                  class="form-control" placeholder="Password" formControlName="password" type="password">
                <div *ngIf="loginForm.controls.password.errors && loginForm.controls.password.touched"
                     class="invalid-feedback">
                  <div *ngIf="loginForm.controls.password.errors?.required" class="text-danger font-weight-bold">Password is
                    required
                  </div>
                  <div *ngIf="loginForm.controls.password.errors?.minlength" class="text-danger font-weight-bold">Password
                    must be at least 6 characters
                  </div>
                </div>
              </div>
            </div>
            <div class="custom-control custom-control-alternative custom-checkbox">
              <input class="custom-control-input" id=" customCheckLogin" type="checkbox">
              <label class="custom-control-label" for=" customCheckLogin">
                <span class="text-muted">Remember me</span>
              </label>
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-primary my-4" [disabled]="!loginForm.valid">Sign in</button>
            </div>
          </form>
        </div>
      </div>
      <div class="row mt-3">
<!--        <div class="col-6">-->
<!--          <a href="javascript:void(0)" class="text-light"><small>Forgot password?</small></a>-->
<!--        </div>-->
      </div>
    </div>
  </div>
</div>
