
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

    <!-- <button (click)="printSelectedArea()">Print Invoice</button> -->



<div id="invoice_print">
    <div size="A4" class="page" *ngFor="let invoice of invoiceData" >
        <div class="page-content container"  style="width: 100%;height: 100%;" id="invoice{{invoice.invoice.id}}">

            <div class="px-0">
                <div class="row mt-5" style="margin-top:25px">

                    <div class="col-md-12">
                        <div class="text-center text-150">
                            <h1 class="text-default-d3 text-capitalize"><b>{{invoice.firm_details.firm_name}}</b></h1>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="text-center">
                            <span class="text-default-d3 text-capitalize"><b>{{invoice.firm_details.firm_address}}</b></span>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="text-center ">
                            <span class="text-default-d3 text-capitalize"><b>Contact :
                                    {{invoice.firm_details.firm_contact_no}}</b></span>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="text-center">
                            <span class="text-default-d3 text-capitalize"><b>GSTIN
                                    :{{invoice.firm_details.firm_gstin}}</b></span>
                        </div>
                    </div>
                    <div class="col-12 ">

                        <!-- .row -->

                        <hr class="row brc-default-l1 mx-n1" />

                        <div class="row">
                            <div class="col-sm-6">
                                <div>
                                    <span class="text-sm text-grey-m2 align-middle">To:</span>
                                    <span
                                        class="text-600 text-110 text-blue align-middle mx-2">{{invoice.customer.customer_name}}</span>
                                </div>
                                <div class="text-grey-m2">
                                    <div class="my-1">
                                        {{invoice.customer.customer_address}}
                                    </div>
                                    <div class="my-1">
                                        {{invoice.customer.customer_contact_no}}
                                    </div>
                                    <div *ngIf="invoice.customer.customer_gstin">
                                        <div class=" ">
                                            <span class="text-default-d3 text-capitalize">GSTIN
                                                :{{invoice.customer.customer_gstin}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.col -->

                            <div class="text-95 col-sm-6 align-self-start d-sm-flex justify-content-end">
                                <hr class="d-sm-none" />
                                <div class="text-grey-m2">
                                    <div class="mt-1 text-secondary-m1 text-600 text-125">
                                        Invoice
                                    </div>

                                    <div class="mt-2"><i class="fa fa-circle text-blue-m2 text-xs mr-1"></i> <span
                                            class="text-600 text-90">Date:</span> {{invoice.invoice.invoice_date | date: 'longDate'}}</div>

                                    <!-- <div class="my-2"><i class="fa fa-circle text-blue-m2 text-xs mr-1"></i> <span
                                                                class="text-600 text-90">Issue Date:</span> Oct 12, 2019</div>

                                                        <div class="my-2"><i class="fa fa-circle text-blue-m2 text-xs mr-1"></i> <span
                                                                class="text-600 text-90">Status:</span> <span
                                                                class="badge badge-warning badge-pill px-25">Unpaid</span></div> -->
                                </div>
                            </div>
                            <!-- /.col -->
                        </div>

                        <!-- <table>
                            <thead>
                                <tr>
                                    <th>S no</th>
                                    <th>Service Description</th>
                                    <th>Days</th>
                                    <th>Qty</th>
                                    <th>Rate</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>

                                    </th>
                                </tr>
                            </tbody>
                        </table> -->
                        <div class="mt-4">

                            <div class="row text-600 text-white bgc-default-tp1 py-25">
                                <div class="col-1">#</div>
                                <div class="col-6">Service Description</div>

                                <div class="col-1">Days</div>
                                <div class="col-1">Qty</div>
                                <div class="col-1">Rate</div>
                                <div class="col-1">Amount</div>
                            </div>

                            <div class="text-95 text-secondary-d3">

                                <div class="row  mb-sm-0 py-25" *ngFor="let booking of invoice.bookingDetails; let i = index">
                                    <div class="col-1">{{i+1}}</div>
                                    <div class="col-6">
                                        {{getStockName(booking.service_id)}}<br>
                                        <div *ngIf="booking.qty_lost">
                                            <span>Qty Lost : {{booking.qty_lost}}</span>
                                            <span> Lost Value : {{booking.lost_value}}</span>
                                        </div>

                                    </div>
                                    <div class="col-1">{{booking.days}}</div>
                                    <div class="col-1">{{booking.qty_out + booking.qty_in + booking.qty_lost}}</div>
                                    <div class="col-1">{{booking.rate}}</div>
                                    <div class="col-1">{{((booking.qty_out + booking.qty_in) * booking.rate * booking.days) + booking.qty_lost * booking.lost_value}}</div>
                                </div>

                                <div class="row border-b-2 brc-default-l2"></div>

                                <div class="row mt-3">
                                    <div class="col-12 col-sm-7 text-grey-d2 text-95 mt-2 mt-lg-0">
                                        <!-- Extra note such as company or payment information... -->
                                    </div>

                                    <div class="col-12 col-sm-5 text-grey text-90 order-first order-sm-last">
                                        <div class="row my-2">
                                            <div class="col-7 text-right">
                                                Sub Total
                                            </div>
                                            <div class="col-5">
                                                <span class="text-120 text-secondary-d1">{{invoice.invoiceTotal}}</span>
                                            </div>
                                        </div>

                                        <div class="row my-2">
                                            <div class="col-7 text-right">
                                                CGST (9%)
                                            </div>

                                            <div class="col-5">
                                                <span class="text-110 text-secondary-d1">{{invoice.invoiceTotal * 0.09}}</span>
                                            </div>
                                        </div>
                                        <div class="row my-2">
                                            <div class="col-7 text-right">
                                                SGST (9%)
                                            </div>

                                            <div class="col-5">
                                                <span class="text-110 text-secondary-d1">{{invoice.invoiceTotal * 0.09}}</span>
                                            </div>
                                        </div>

                                        <div class="row my-2 align-items-center bgc-primary-l3 p-2">
                                            <div class="col-7 text-right">
                                                Total Amount
                                            </div>
                                            <div class="col-5">
                                                <span class="text-150 text-success-d3 ">{{invoice.invoiceTotal + (invoice.invoiceTotal * 0.18)}} </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>












