<div class="header pb-8 pt-5  d-flex align-items-center">
  <!-- Mask -->
  <span class="mask bg-gradient-danger opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-white">Master</h1>
        <a class="btn btn-info" routerLink="/Dashboard/Masters/FirmMaster">Firm Master</a>
        <a class="btn btn-info" routerLink="/Dashboard/Masters/StockMaster">Stock Master</a>
        <a class="btn btn-info" routerLink="/Dashboard/Masters/CustomerMaster">Customer Master</a>
        <a class="btn btn-info" routerLink="/Dashboard/Masters/BankMaster">Bank Master</a>
        <a class="btn btn-info" routerLink="/Dashboard/Masters/MenuMaster">Menu Master</a>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-12 order-xl-1">
      <div class="card bg-secondary shadow">


      </div>
    </div>
  </div>
</div>
