<footer class="footer">
  <div class="row align-items-center justify-content-xl-between">
    <div class="col-xl-6">
      <div class="copyright text-center text-xl-left text-muted">
        <a class="font-weight-bold ml-1">Garden Management</a>
      </div>
    </div>
    <div class="col-xl-6">
      <ul class="nav nav-footer justify-content-center justify-content-xl-end">
        <li class="nav-item">
          <a href="#" tabindex="-1" class="nav-link">Garden Management</a>
        </li>
        <li class="nav-item">
          <a href="#" tabindex="-1" class="nav-link">About Us</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
