.cover-image{
  min-height: 200px;
  background-image: url(../img/theme/profile-cover.jpg);
  background-size: cover; background-position: center top;
}

.sub-nav-item{
  font-size: 0.8em;
}

.hidden{
  display: none;
}

@media only screen and (max-width: 600px){
    .img-responsive{
      height: 100px;
    }
}

.is-invalid{
  border-color: #dc3545;
  padding-right: calc(1.5em + .75rem);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right calc(.375em + .1875rem) center;
  background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}

.input-disable {
  /*display: none;*/
  pointer-events: none;
  background-color: #E9ECEF;
}

.input-disable .autocomplete-container .input-container input{
  pointer-events: none;
  background-color: #E9ECEF;
}



.label-disable {
  pointer-events: none;
}

.form-control {
  border-radius: 0;

}

.table-responsive {
  overflow-x: inherit;
}

#toast-container > div {
  opacity:1;
}

.show-remaining-qty{
  border-color: #000000;
  padding-right: calc(1.5em + .75rem);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right calc(.375em + .1875rem) center;
  background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}

.col-md-0-5 {
  flex: 0 0 8.3333333333%;
  max-width: 6.333%;
}

.bg-dark-50 {
  color : #525f7f;
}





@media only screen and (min-width: 600px){


  /*menu css*/

  .navbar-vertical.navbar-expand-md {
    display: block;
    position: inherit !important;
    top: 0;
    bottom: 0;
    width: 100%;
    max-width: 100% !important;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    overflow-y: auto;
  }

  .ul-row{
    flex-direction: row !important;
  }

  .navbar-vertical .navbar-nav .nav-link.active {
    position: inherit !important;
    border-bottom: 2px solid !important;
    border-left: none !important;
  }

  .navbar-vertical .navbar-collapse::before {
    content: "";
    display: block;
    margin: 0 !important;
  }

  .navbar {
    padding: 1rem 0;
  }

  .navbar-vertical.navbar-expand-md .navbar-brand {
    padding-bottom: 0 !important;
  }

 /*Container*/

  .main-content {
    margin-left: 0 !important;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    display: none;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type=number] {
    -moz-appearance: textfield;
    /* Firefox */
  }
}


.cursor-pointer {
  cursor: pointer;
}

.app-modal-window .modal-dialog {
  width: 500px;
}

.card .table td, .card .table th {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 6px;
  padding-bottom: 6px;
}

