
<div class="header pb-8 pt-3 d-flex align-items-center">
  <!-- Mask -->
  <span class="mask bg-gradient-danger opacity-8"></span>
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-6 order-xl-1">
      <div class="card bg-secondary shadow">
        <form (ngSubmit)="doChangePassword()" [formGroup]="changePassForm" class="forms-sample">

          <div class="card-header bg-white border-0">
            <div class="row align-items-center">
              <div class="col-8">
                <h3 class="mb-0">Change Password</h3>
              </div>
              <div class="col-4 text-right">
                <button type="reset" class="btn btn-sm btn-secondary" >Reset</button>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div *ngIf="changeSuccess" class="alert alert-success">
             Password Changed Successfully
            </div>
            <h6 class="heading-small text-muted mb-4">Reset Your Password by Providing Correct information</h6>

            <div class="row">
              <div class="col-lg-12">
                <div class="form-group">
                  <label class="form-control-label">Current Password</label>
                  <input
                    [ngClass]="{ 'is-invalid': changePassForm.controls.password.errors && changePassForm.controls.password.touched  || oldPasswordMismatch}"
                    class="form-control form-control-alternative" formControlName="password" placeholder="Current Password" type="password">

                  <div
                    *ngIf="changePassForm.controls.password.errors && changePassForm.controls.password.touched || oldPasswordMismatch"
                    class="invalid-feedback">
                    <div *ngIf="changePassForm.controls.password.errors?.required" class="text-danger font-weight-bold">
                      Current Password is required
                    </div>
                    <div *ngIf="changePassForm.controls.password.errors?.minlength" class="text-danger font-weight-bold">
                      Password must be at least 6 characters
                    </div>
                    <div *ngIf="oldPasswordMismatch" class="text-danger font-weight-bold">Enter Valid Old Password</div>
                  </div>

                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <div class="form-group">
                  <label class="form-control-label">New Password</label>
                  <input
                    [ngClass]="{ 'is-invalid': changePassForm.controls.newPassword.errors && changePassForm.controls.newPassword.touched || sameOldPassword || sameNewPassword}"
                    class="form-control form-control-alternative"
                    formControlName="newPassword" placeholder="New Password" type="Password"/>
                  <div
                    *ngIf="changePassForm.controls.newPassword.errors && changePassForm.controls.newPassword.touched || sameOldPassword || sameNewPassword"
                    class="invalid-feedback">
                    <div *ngIf="changePassForm.controls.newPassword.errors?.required"
                         class="text-danger font-weight-bold">New
                      Password is required
                    </div>
                    <div *ngIf="changePassForm.controls.newPassword.errors?.minlength"
                         class="text-danger font-weight-bold">
                      Password must be at least 6 characters
                    </div>
                    <div *ngIf="sameOldPassword" class="text-danger font-weight-bold">New Password Should not Same As Old
                      Password
                    </div>

                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <div class="form-group">
                  <label class="form-control-label">Confirm Password</label>
                  <input
                    [ngClass]="{ 'is-invalid': changePassForm.controls.confirmNewPassword.errors && changePassForm.controls.confirmNewPassword.touched || sameOldPassword || sameNewPassword}"
                    class="form-control form-control-alternative"
                    formControlName="confirmNewPassword" placeholder="Confirm New Password" type="password"/>
                  <div
                    *ngIf="changePassForm.controls.confirmNewPassword.errors && changePassForm.controls.confirmNewPassword.touched || sameNewPassword"
                    class="invalid-feedback">
                    <div *ngIf="changePassForm.controls.confirmNewPassword.errors?.required"
                         class="text-danger font-weight-bold">Password is required
                    </div>
                    <div *ngIf="changePassForm.controls.confirmNewPassword.errors?.minlength"
                         class="text-danger font-weight-bold">Password must be at least 6 characters
                    </div>
                    <div *ngIf="sameNewPassword" class="text-danger font-weight-bold">Enter Same Confirm Password</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-6">
                <button type="submit" [disabled]="!changePassForm.valid" class="btn bg-gradient-danger text-white" >Update</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
