<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-12 order-xl-1">
      <div class="card bg-secondary shadow">

        <ng-template #editLedgerModelId let-modal>
          <div class="modal-header">
            <h4 class="modal-title" id="viewStockReturnStatus">Stock Return Status</h4>
            <button (click)="modal.dismiss('Cross click')" aria-label="Close" class="close" type="button">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <ng-template #noStockReturnStatusFound>
            <div class="card shadow p-4 text-center" style="width: 100%;">
              <b>No Stock is Returned Yet</b>
            </div>
          </ng-template>
          <form (ngSubmit)="editLedger()" [formGroup]="editCustomerLedger" class="mx-3">
            <div>
              <div class="card bg-secondary shadow my-3">
                <div class="modal-body">
                  <div class="row">

                    <div class="col-lg-2 p-1">
                      <div class="form-group">
                        <label class="form-control-label label-disable">Date</label>
                        <input class="form-control form-control-alternative" formControlName="tdate" id="edit_tdate" type="date">
                      </div>
                    </div>

                    <div class="col-lg-2 p-1 fa-pull-right">
                      <div class="form-group">
                        <label class="form-control-label label-disable">Receipt Number</label>
                        <input class="form-control form-control-alternative" formControlName="voucher_id" type="text">
                      </div>
                    </div>
                  </div>
                  <div class="row">

                    <div class="col-lg-2 p-1">
                      <div class="form-group">
                        <label class="form-control-label label-disable">Payment Out</label>
                        <input (change)="calculateEditedTotalAmount()" class="form-control form-control-alternative "
                               formControlName="payment_out" placeholder="Payment Out" type="number">
                      </div>
                    </div>
                    <div class="col-lg-2 p-1">
                      <div class="form-group">
                        <label class="form-control-label label-disable">Payment In</label>
                        <input (change)="calculateEditedTotalAmount()" class="form-control form-control-alternative "
                               formControlName="payment_in" placeholder="Payment In" type="number">
                      </div>
                    </div>
                    <div class="col-lg-2 p-1">
                      <div class="form-group">
                        <label class="form-control-label label-disable">Discount</label>
                        <input (change)="calculateEditedTotalAmount()" class="form-control form-control-alternative "
                               formControlName="discount" placeholder="Discount" type="number">
                      </div>
                    </div>
                    <div class="col-lg-2 p-1">
                      <div class="form-group">
                        <label class="form-control-label">Extra Amount</label>
                        <input (change)="calculateEditedTotalAmount()" class="form-control form-control-alternative"
                               formControlName="debit" placeholder="Extra Amount" type="number">
                      </div>
                    </div>
                    <div class="col-lg-2 p-1">
                      <div class="form-group">
                        <label class="form-control-label label-disable">Balance</label>
                        <input class="form-control form-control-alternative input-disable"
                               placeholder="Balance" tabindex="-1" type="number" formControlName="balance">
                      </div>
                    </div>
                    <div class="col-lg-2 p-1">
                      <div class="form-group">
                        <label class="form-control-label label-disable">Payment Mode</label>
                        <select (change)="checkPaymentType($event)" class="form-control form-control-alternative" formControlName="payment_id" >
                          <option *ngFor="let type of paymentMode; let k = index" value="{{k}}">{{type}}</option>
                        </select>
                      </div>
                    </div>
                  </div>

                  <div class="row" *ngIf="paymentModeBank || paymentModeCheque">
                    <div class="col-lg-3 p-1">
                      <div class="form-group">
                        <label class="form-control-label label-disable">Bank Name</label>
                        <select [ngClass]="{ 'input-disable': !paymentModeCheque &&  !paymentModeBank }" class="form-control form-control-alternative" formControlName="bank_id">
                          <option *ngFor="let bank of bankDetails" value="{{bank.id}}">{{bank.bank_name}}</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-lg-3 p-1">
                      <div class="form-group">
                        <label class="form-control-label label-disable">Cheque Number</label>
                        <input [ngClass]="{ 'input-disable': !paymentModeCheque  }"  class="form-control form-control-alternative " formControlName="cheque_no"
                               placeholder="Cheque Number" type="number">
                      </div>
                    </div>

                    <div class="col-lg-3 p-1">
                      <div class="form-group">
                        <label class="form-control-label label-disable">Cheque Date</label>
                        <input [ngClass]="{ 'input-disable': !paymentModeCheque  }"  class="form-control form-control-alternative " formControlName="cheque_date" type="date">
                      </div>
                    </div>

                    <div class="col-lg-3 p-1">
                      <div class="form-group">
                        <label class="form-control-label label-disable">Cheque Clear Date</label>
                        <input [ngClass]="{ 'input-disable': !paymentModeCheque  }"  class="form-control form-control-alternative " formControlName="cheque_clear_date" type="date">
                      </div>
                    </div>

                  </div>
                  <div class="row">
                    <div class="col-lg-12 p-1">
                      <div class="form-group">
                        <label class="form-control-label label-disable" for="customer_gstin">Remark</label>
                        <input class="form-control form-control-alternative " formControlName="remark"
                               placeholder="Remark" type="text">
                      </div>
                    </div>
                  </div>
                  <div class="row text-center">
                    <div class="col-md-12 p-1 mt-3 ">

                      <button [disabled]="editCustomerLedger.invalid" class="btn bg-gradient-danger text-white p-2" type="submit">
                        Update
                      </button>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </ng-template>
        <div class="card-header border-0">

          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Customer Ledger View</h3>
            </div>
            <div class="col-4 text-right">
              <span class="mx-5"><b>Date: {{today | date: 'longDate'}}</b></span>
<!--              <button class="btn btn-sm btn-secondary" tabindex="-1" type="reset">Reset</button>-->
            </div>
          </div>
        </div>
        <form>
          <div class="modal-body">

            <div class="row">
              <div class="col-lg-5">

                <div class="form-group">
                  <label class="form-control-label label-disable" for="customer_name">Customer Name</label>
                  <ng-autocomplete (inputCleared)='onCustomerCleared()'
                                   (keydown.enter)="$event.preventDefault()"
                                   (selected)='selectEventCustomer($event)'
                                   [customFilter]="customerFilter"
                                   [data]="customerDetails"
                                   [itemTemplate]="customerListTemplate"
                                   [searchKeyword]="customerKeyword"
                                   formControlName="customer_id"
                                   id="customer_name"
                                   placeholder="Enter Customer Name">
                  </ng-autocomplete>


                  <ng-template #customerListTemplate let-item>
                    <a
                      [innerHTML]="item.customer_name + ' '+ item.customer_address + ' '  + item.customer_contact_no"></a>
                  </ng-template>

                </div>
              </div>

              <div class="col-lg-3">
                <div class="form-group">
                  <label class="form-control-label label-disable" for="customer_address">Address</label>
                  <input class="form-control form-control-alternative" disabled
                         id="customer_address" placeholder="Address" type="text" value="{{currentCustomer.customer_address}}">
                </div>
              </div>
              <div class="col-lg-2">
                <div class="form-group">
                  <label class="form-control-label label-disable" for="customer_contact_no">Contact Number</label>
                  <input class="form-control form-control-alternative" disabled
                         id="customer_contact_no" placeholder="Contact Number" type="text" value="{{currentCustomer.customer_contact_no}}">
                </div>
              </div>
              <div class="col-lg-2">
                <div class="form-group">
                  <label class="form-control-label label-disable" for="customer_gstin">GSTIN</label>
                  <input class="form-control form-control-alternative" disabled
                         id="customer_gstin" placeholder="GSTIN" type="text" value="{{currentCustomer.customer_gstin}}">
                </div>
              </div>
            </div>

          </div>
        </form>
        <div *ngIf="noCustomerSelected" class="card bg-secondary shadow cursor-pointer">
          <div class="card-header border-0">
            <h3 class="mb-0">No Customer Selected</h3>
          </div>
        </div>

<!--          <div *ngIf="(noCustomerSelected && (!noInvoiceFound && !noLedgerFound))" class="card bg-secondary shadow cursor-pointer">-->
<!--            <div class="card-header border-0">-->
<!--              <h3 class="mb-0">No Data Found For this Customer</h3>-->
<!--            </div>-->
<!--          </div>-->

        <div *ngIf="!noCustomerSelected">

            <div  *ngIf="noInvoiceFound" class="card shadow p-4 text-center my-4" style="width: 100%;">
              <b>No Active Invoice Found</b>
            </div>
            <div *ngIf="!noInvoiceFound">

              <div class="card bg-secondary shadow">
                <div class="card-header border-0">
                  <h3 class="mb-0">Manage Active Invoices</h3>
                </div>
              </div>
              <div>
                <form [formGroup]="createCustomerLedger" class="mx-3">
                  <div formArrayName="invoice">
                    <div *ngFor="let invoice of invoice.controls; let i=index" class="card bg-secondary shadow my-3">
                      <div [formGroupName]="i" class="card-header border-0 row mx-0 p-2">

                        <div class="col-10 pl-0 mt-2">
                      <span
                        class="label label-default bg-secondary  bg-dark-50 p-2 mx-2"><b>Invoice Number : {{invoice.get('invoice_number')?.value}}</b></span>
                          <span
                            class="label label-default bg-secondary  bg-dark-50 p-2 mx-2"><b>Invoice Date : {{invoice.get('invoice_date')?.value | date: 'longDate'}}</b></span>
                          <span
                            class="label label-default bg-secondary  bg-dark-50 p-2 mx-2"><b>Bill Amount : {{invoice.get('bill_amount')?.value}}</b></span>
                          <span
                            class="label label-default bg-secondary  bg-dark-50 p-2 mx-2"><b>Old Balance : {{invoice.get('old_balance')?.value}}</b></span>
                          <span
                            class="label label-default bg-secondary  bg-dark-50 p-2 mx-2"><b>Due Balance : {{invoice.get('due_amount')?.value}}</b></span>
                        </div>
                        <div class="col-2 text-right">
                          <button class="btn btn-primary" (click)="invoiceCollapsed = !invoiceCollapsed" [attr.aria-expanded]="!invoiceCollapsed" aria-controls="invoiceCollapsed">Pay</button>
                        </div>
                      </div>
                      <div [formGroupName]="i" class="modal-body" [ngbCollapse]="invoiceCollapsed" id="invoiceCollapsed">
                        <div class="row">

                          <div class="col-lg-2 p-1">
                            <div class="form-group">
                              <label class="form-control-label label-disable">Transaction Date</label>
                              <input class="form-control form-control-alternative" formControlName="tdate" type="date">
                            </div>
                          </div>

                          <div class="col-lg-2 p-1 fa-pull-right">
                            <div class="form-group">
                              <label class="form-control-label label-disable">Receipt Number</label>
                              <input class="form-control form-control-alternative input-disable" formControlName="voucher_id" type="text">
                            </div>
                          </div>
                        </div>
                        <div class="row">
<!--                          <div class="col-lg-2 p-1">-->
<!--                            <div class="form-group">-->
<!--                              <label class="form-control-label label-disable">Payment Type</label>-->
<!--                              <select class="form-control form-control-alternative" formControlName="payment_type"-->
<!--                                      id="payment_type">-->
<!--                                <option *ngFor="let type of paymentType; let k = index" value="{{k}}">{{type}}</option>-->
<!--                              </select>-->
<!--                            </div>-->
<!--                          </div>-->

                          <div class="col-lg-2 p-1">
                            <div class="form-group">
                              <label class="form-control-label label-disable">Payment Out</label>
                              <input (change)="calculateTotalAmount(i)" class="form-control form-control-alternative "
                                     formControlName="payment_out" placeholder="Payment Out" type="number">
                            </div>
                          </div>
                          <div class="col-lg-2 p-1">
                            <div class="form-group">
                              <label class="form-control-label label-disable">Payment In</label>
                              <input (change)="calculateTotalAmount(i)" class="form-control form-control-alternative "
                                     formControlName="payment_in" placeholder="Payment In" type="number">
                            </div>
                          </div>
                          <div class="col-lg-2 p-1">
                            <div class="form-group">
                              <label class="form-control-label label-disable">Discount</label>
                              <input (change)="calculateTotalAmount(i)" class="form-control form-control-alternative "
                                     formControlName="discount" placeholder="Discount" type="number">
                            </div>
                          </div>
                          <div class="col-lg-2 p-1">
                            <div class="form-group">
                              <label class="form-control-label">Extra Amount</label>
                              <input (change)="calculateTotalAmount(i)" class="form-control form-control-alternative"
                                     formControlName="debit" placeholder="Extra Amount" type="number">
                            </div>
                          </div>
                          <div class="col-lg-2 p-1">
                            <div class="form-group">
                              <label class="form-control-label label-disable">Balance</label>
                              <input class="form-control form-control-alternative input-disable"
                                     placeholder="Balance" tabindex="-1" type="number" formControlName="balance">
                            </div>
                          </div>
                          <div class="col-lg-2 p-1">
                            <div class="form-group">
                              <label class="form-control-label label-disable">Payment Mode</label>
                              <select (change)="checkPaymentType($event)" class="form-control form-control-alternative" formControlName="payment_id"
                                      id="payment_mode">
<!--                                <option *ngFor="let type of paymentMode; let k = index" value="{{k}}">{{type}}</option>-->
                                <option value="1">By Cash</option>
                                <option value="2">By Bank</option>
                                <option value="3">By Cheque</option>
                                <option value="4">By Other</option>
                              </select>
                            </div>
                          </div>
                        </div>

                        <div class="row" *ngIf="paymentModeBank || paymentModeCheque">
                          <div class="col-lg-3 p-1">
                            <div class="form-group">
                              <label class="form-control-label label-disable">Bank Name</label>
                              <select [ngClass]="{ 'input-disable': !paymentModeCheque &&  !paymentModeBank }" class="form-control form-control-alternative" formControlName="bank_id" id="bank_id">
                                <option *ngFor="let bank of bankDetails" value="{{bank.id}}">{{bank.bank_name}}</option>
                              </select>
                            </div>
                          </div>
                          <div class="col-lg-3 p-1">
                            <div class="form-group">
                              <label class="form-control-label label-disable">Cheque Number</label>
                              <input [ngClass]="{ 'input-disable': !paymentModeCheque  }"  class="form-control form-control-alternative " formControlName="cheque_no"
                                     placeholder="Cheque Number" type="number">
                            </div>
                          </div>

                          <div class="col-lg-3 p-1">
                            <div class="form-group">
                              <label class="form-control-label label-disable">Cheque Date</label>
                              <input [ngClass]="{ 'input-disable': !paymentModeCheque  }"  class="form-control form-control-alternative " formControlName="cheque_date" type="date">
                            </div>
                          </div>

                          <div class="col-lg-3 p-1">
                            <div class="form-group">
                              <label class="form-control-label label-disable">Cheque Clear Date</label>
                              <input [ngClass]="{ 'input-disable': !paymentModeCheque  }"  class="form-control form-control-alternative " formControlName="cheque_clear_date" type="date">
                            </div>
                          </div>

                        </div>
                        <div class="row">
                          <div class="col-lg-12 p-1">
                            <div class="form-group">
                              <label class="form-control-label label-disable" for="customer_gstin">Remark</label>
                              <input class="form-control form-control-alternative " formControlName="remark"
                                     placeholder="Remark" type="text">
                            </div>
                          </div>
                        </div>
                        <div class="row text-center">
                          <div class="col-md-12 p-1 mt-3 ">

                            <button (click)="createLedger(i)" [disabled]="invoice.invalid" class="btn bg-gradient-danger text-white p-2" type="button">
                              Submit
                            </button>
                            <a class="btn btn-primary p-2"
                               routerLink="/Dashboard/Booking/CreateBooking/{{invoice.get('invoice_number')?.value}}">
                              <span class="menu-title">View Invoice</span></a>
                            <button [disabled]="invoice.get('total_remaining_qty')?.value == 0"
                                    class="btn btn-primary p-2"
                                    routerLink="/Dashboard/StockReturn/CreateStockReturn/{{invoice.get('invoice_number')?.value}}"
                                    tabindex="-1" type="button">Stock Return Available
                            </button>

                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>

            </div>

            <div>
              <div class="card bg-secondary shadow cursor-pointer">
<!--                <div (click)="ledgerCollapsed = !ledgerCollapsed" [attr.aria-expanded]="!ledgerCollapsed"-->
<!--                   aria-controls="ledgerCollapsed" class="card bg-secondary shadow cursor-pointer">-->
                <div class="card-header border-0 row mx-0 p-2">
                  <div class="col-2 mt-2">
                    <h3 class="mb-0 mx-1">View Ledger</h3>
                  </div>


                  <div class="row col-10 text-right">
                    <div class="col-lg-4 p-1 mt-2">
                        <label class="form-control-label label-disable">From Date</label>
                    </div>
                    <div class="col-lg-2 p-1">
                        <input class="form-control form-control-alternative " [(ngModel)]="ledgerInfo.from_date" type="date" >
                    </div>
                    <div class="col-lg-1 p-1 mt-2">
                      <label class="form-control-label label-disable">To Date</label>
                    </div>

                    <div class="col-lg-2 p-1">
                        <input class="form-control form-control-alternative " [(ngModel)]="ledgerInfo.to_date"  type="date">
                    </div>

                    <div class="col-lg-3 p-1 text-left"  >
                        <button class="btn btn-primary " [disabled]="!ledgerInfo.from_date || !ledgerInfo.to_date" (click)="getCustomerLedgerByDate()" >View Ledger</button>
                        <button class="btn btn-primary" (click)="viewAllLedger()" >View All</button>
                    </div>

                  </div>
                </div>
            </div>
              <div  *ngIf="noLedgerFound" class="card shadow p-4 text-center my-4" style="width: 100%;">
                <b>No Ledger Found</b>
              </div>
              <div>

<!--              <div [ngbCollapse]="ledgerCollapsed" id="ledgerCollapsed">-->
                <div class="overflow-auto">
                  <div class="card shadow">

              <div class="table-responsive"  *ngIf="!noLedgerFound">
                <table class="table align-items-center table-flush text-center">
                  <thead class="thead-light">
                  <tr>
                    <th class="col-1">S No</th>
                    <th class="col-1">Transaction Date</th>

                    <th class="col-4">Other Information</th>
                    <th class="col-1">Voucher No</th>

<!--                    <th class="col-1">Payment Mode</th>-->
                    <th class="col-1">Bill Amount</th>
                    <th class="col-1">Paid Amount</th>
                    <th class="col-1">Extra Amount</th>
                    <th class="col-1">Discount</th>
<!--                    <th>Total</th>-->
                    <th class="col-1">Balance</th>
                    <th></th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td></td>
                    <td></td>
                    <td>Opening Balance</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td id="balance-1">{{openingBalance}}</td>
                    <td></td>
                  </tr>


                  <tr *ngFor="let ledger of customerLedger; let i = index">

                    <td>{{i + 1}}</td>
                    <td>{{ledger.tdate | date: 'longDate'}}</td>

                    <td>{{ledger.remark}} - {{ledger.payment_mode | paymentMode}}</td>
                    <td>{{ledger.invoice_number}}</td>

<!--                    <td></td>-->
                    <td>{{ledger.bill_amount}}</td>
                    <td>{{ledger.paid_amount}}</td>
                    <td>{{ledger.extra_amount}}</td>
                    <td>{{ledger.discount}}</td>
<!--                    <td >{{ledger.balance}}</td>-->

                    <td >  {{ledger.running_total}}</td>


                    <td *ngIf="!(ledger.payment_mode == 0)">
                      <a class="btn btn-sm btn-primary" (click)="editLedgerModel(editLedgerModelId,ledger.id)">
                        <span class="menu-title">Edit</span>
                      </a>
                      <button (click)="deleteLedger(ledger.id)" class="btn btn-sm  btn-danger">Delete</button>
                    </td>

                    <td *ngIf="ledger.payment_mode == 0">
                      <a  routerLink="/Dashboard/Booking/CreateBooking/{{ledger.id}}" class="btn btn-sm  btn-primary">View Invoice</a>
                      <a target="_blank" routerLink="/PrintInvoice/{{ledger.id}}" class="btn btn-sm  btn-primary">Print</a>
                    </td>

                  </tr>
                  </tbody>
                </table>
              </div>
                  </div>
                </div>
            </div>
            </div>
        </div>

      </div>

    </div>
  </div>
</div>
