<nav class="navbar navbar-vertical navbar-expand-md navbar-light bg-white pb-0" id="sidenav-main">
  <div class="container-fluid">
    <!-- Toggler -->
    <button (click)="isCollapsed=!isCollapsed" aria-controls="sidenav-collapse-main" class="navbar-toggler"
            type="button">
      <span class="navbar-toggler-icon"></span>
    </button>
<!--    &lt;!&ndash; Brand &ndash;&gt;-->
<!--    <a class="navbar-brand pt-0" routerLink="/Dashboard" routerLinkActive="active" tabindex="-1">-->
<!--      <img alt="GManage" class="navbar-brand-img" src="./assets/images/GManage.svg">-->
<!--    </a>-->
    <!-- User -->
<!--    <ul class="nav align-items-center d-md-none">-->
<!--      <li class="nav-item" ngbDropdown placement="bottom-right">-->
<!--        <a class="nav-link nav-link-icon" ngbDropdownToggle role="button">-->
<!--          <i class="ni ni-bell-55"></i>-->
<!--        </a>-->
<!--        <div class="dropdown-menu-arrow dropdown-menu-right" ngbDropdownMenu>-->
<!--          <a class="dropdown-item" href="javascript:void(0)">Action</a>-->
<!--          <a class="dropdown-item" href="javascript:void(0)">Another action</a>-->
<!--          <div class="dropdown-divider"></div>-->
<!--          <a class="dropdown-item" href="javascript:void(0)">Something else here</a>-->
<!--        </div>-->
<!--      </li>-->
<!--      <li class="nav-item" ngbDropdown placement="bottom-right">-->
<!--        <a class="nav-link" ngbDropdownToggle role="button">-->
<!--          <div class="media align-items-center">-->
<!--            <span class="avatar avatar-sm rounded-circle">-->
<!--              <img alt="Image placeholder" src="./assets/img/theme/team-1-800x800.jpg">-->
<!--            </span>-->
<!--          </div>-->
<!--        </a>-->
<!--        <div class="dropdown-menu-arrow dropdown-menu-right" ngbDropdownMenu>-->
<!--          <div class=" dropdown-header noti-title">-->
<!--            <h6 class="text-overflow m-0">Welcome!</h6>-->
<!--          </div>-->
<!--&lt;!&ndash;          <a class="dropdown-item" routerLink="/user-profile" routerLinkActive="active" tabindex="-1">&ndash;&gt;-->
<!--&lt;!&ndash;            <i class="ni ni-single-02"></i>&ndash;&gt;-->
<!--&lt;!&ndash;            <span>My profile</span>&ndash;&gt;-->
<!--&lt;!&ndash;          </a>&ndash;&gt;-->
<!--          <a class="dropdown-item" routerLink="/user-profile" routerLinkActive="active" tabindex="-1">-->
<!--            <i class="ni ni-settings-gear-65"></i>-->
<!--            <span>Change Password</span>-->
<!--          </a>-->
<!--          <a class="dropdown-item" routerLink="/user-profile" routerLinkActive="active" tabindex="-1">-->
<!--            <i class="ni ni-support-16"></i>-->
<!--            <span>Support</span>-->
<!--          </a>-->
<!--          <div class="dropdown-divider"></div>-->

<!--          <a class="nav-link" (click)="onLogout()"><i class="fas fa-sign-out-alt"></i><span class="menu-title">1123</span></a>-->
<!--        </div>-->
<!--      </li>-->
<!--    </ul>-->
    <!-- Collapse -->
    <div [ngbCollapse]="isCollapsed" class="collapse navbar-collapse" id="sidenav-collapse-main">
      <!-- Collapse header -->
      <div class="navbar-collapse-header d-md-none">
        <div class="row">
          <div class="col-6 collapse-brand">
            <a routerLink="['/dashboard']" routerLinkActive="active" tabindex="-1">
              <img src="./assets/images/gm.svg" alt="GManage">
            </a>
          </div>
          <div class="col-6 collapse-close">
            <button (click)="isCollapsed=!isCollapsed" class="navbar-toggler" type="button">
              <span></span>
              <span></span>
            </button>
          </div>
        </div>
      </div>
      <!-- Navigation -->
      <ul class="navbar-nav ul-row">
        <li class=" nav-item mx-2">
          <!-- Brand -->
<!--          <a class="navbar-brand pt-0" routerLink="/Dashboard" routerLinkActive="active" tabindex="-1">-->
            <img alt="GManage" class="navbar-brand-img" src="./assets/images/gm.svg">
<!--          </a>-->
        </li>
        <li class=" nav-item">
          <a class="nav-link" routerLink="Home" routerLinkActive="active" tabindex="-1"> <i class="fas fa-home"></i> Dashboard</a>
        </li>
<!--        <li class=" nav-item">-->
<!--          <a class="nav-link" routerLink="Profile" routerLinkActive="active" tabindex="-1"> <i class="fas fa-user"></i> Profile</a>-->
<!--        </li>-->
        <li class=" nav-item">
          <a class="nav-link" routerLink="/Dashboard/Masters" routerLinkActive="active" tabindex="-1"> <i class="fas fa-user"></i>Master</a>
        </li>
<!--        <li class=" nav-item">-->
<!--          <a class="nav-link" routerLink="/Dashboard/Masters/FirmMaster" routerLinkActive="active" tabindex="-1"> <i class="fas fa-user"></i>Firm Master</a>-->
<!--        </li>-->
<!--        <li class=" nav-item">-->
<!--          <a class="nav-link" routerLink="/Dashboard/Masters/StockMaster" routerLinkActive="active" tabindex="-1"> <i class="fas fa-user"></i>Stock Master</a>-->
<!--        </li>-->
<!--        <li class=" nav-item">-->
<!--          <a class="nav-link" routerLink="/Dashboard/Masters/CustomerMaster" routerLinkActive="active" tabindex="-1"> <i class="fas fa-user"></i>Customer Master</a>-->
<!--        </li>-->
        <li class=" nav-item">
          <a class="nav-link" routerLink="/Dashboard/Booking" routerLinkActive="active" tabindex="-1"> <i class="fas fa-user"></i>Booking</a>
        </li>
<!--        <li class=" nav-item">-->
<!--          <a class="nav-link" routerLink="/Dashboard/CustomerMenu" routerLinkActive="active" tabindex="-1"> <i class="fas fa-user"></i>Customer Menu</a>-->
<!--        </li>-->
        <li class=" nav-item">
          <a class="nav-link" routerLink="/Dashboard/StockReturn" routerLinkActive="active" tabindex="-1"> <i class="fas fa-user"></i>Stock Return</a>
<!--          <a class="nav-link" routerLink="/Dashboard/StockReturn/Test" routerLinkActive="active" tabindex="-1"> <i class="fas fa-user"></i>Stock Return Test</a>-->
        </li>
        <li class=" nav-item">
          <a class="nav-link" routerLink="/Dashboard/CustomerLedger" routerLinkActive="active" tabindex="-1"> <i class="fas fa-user"></i>Customer Ledger</a>
        </li>
        <li class=" nav-item">
          <a class="nav-link" routerLink="ChangePassword" routerLinkActive="active" tabindex="-1"> <i class="fas fa-key"></i> Change Password</a>
        </li>
        <li>
          <a class="nav-link" tabindex="-1" routerLink="#" (click)="onLogout()"><i class="fas fa-sign-out-alt"></i><span class="menu-title">Logout</span></a>
        </li>
      </ul>
      <!-- Divider -->
<!--      <hr class="my-3">-->

    </div>
  </div>
</nav>
