<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-8 order-xl-1">
      <div class="card bg-secondary shadow">
        <form (ngSubmit)="createBankMaster()" [formGroup]="createBank" class="forms-sample">
          <div class="card-header bg-white border-0">
            <div class="row align-items-center">
              <div class="col-8">
                <h3 class="mb-0">Create New Bank</h3>
              </div>
              <div class="col-4 text-right">
                <button class="btn btn-sm btn-secondary" type="reset">Reset</button>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div *ngIf="BankCreatedSuccess" class="alert alert-success">
              Bank Created Successfully
            </div>
            <h6 class="heading-small text-muted mb-4">Bank Information</h6>
            <div class="row">
              <div class="col-lg-8">
                <div class="form-group">
                  <label class="form-control-label" for="bank_name">Bank Name</label>
                  <input
                    [ngClass]="{ 'is-invalid': createBank.controls.bank_name.errors && createBank.controls.bank_name.touched}"
                    class="form-control form-control-alternative"  formControlName="bank_name" id="bank_name"
                    placeholder="Bank Name" type="text">
                  <div
                    *ngIf="createBank.controls.bank_name.errors && createBank.controls.bank_name.touched "
                    class="invalid-feedback">
                    <div *ngIf="createBank.controls.bank_name.errors?.required" class="text-danger font-weight-bold">
                      Bank Name is required
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="form-group">
                  <label class="form-control-label" for="account_no">Account Number</label>
                  <input
                    [ngClass]="{ 'is-invalid': createBank.controls.account_no.errors && createBank.controls.account_no.touched || existingAccountNo }"
                    class="form-control form-control-alternative" formControlName="account_no" id="account_no"
                    placeholder="Account Number" type="number">
                  <div *ngIf="createBank.controls.account_no.errors && createBank.controls.account_no.touched || existingAccountNo " class="invalid-feedback">
                    <div *ngIf="createBank.controls.account_no.errors?.required" class="text-danger font-weight-bold">
                      Account Number is required
                    </div>
                    <div *ngIf="existingAccountNo" class="text-danger font-weight-bold">
                      Account Number is Already Taken
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-8">
                <div class="form-group">
                  <label class="form-control-label" for="ifsc_code">IFSC Code</label>
                  <input [ngClass]="{ 'is-invalid': createBank.controls.ifsc_code.errors && createBank.controls.ifsc_code.touched}"
                         class="form-control form-control-alternative" formControlName="ifsc_code" id="ifsc_code"
                         placeholder="Bank Address" type="text">
                  <div *ngIf="createBank.controls.ifsc_code.errors && createBank.controls.ifsc_code.touched " class="invalid-feedback">
                    <div *ngIf="createBank.controls.ifsc_code.errors?.required" class="text-danger font-weight-bold">
                      IFSC Code is required
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="form-group">
                  <label class="form-control-label" for="branch">Branch</label>
                  <input
                    [ngClass]="{ 'is-invalid': createBank.controls.branch.errors && createBank.controls.branch.touched}"
                    class="form-control form-control-alternative" formControlName="branch" id="branch"
                    placeholder="Bank Branch" type="text">
                  <div *ngIf="createBank.controls.branch.errors && createBank.controls.branch.touched " class="invalid-feedback">
                    <div *ngIf="createBank.controls.branch.errors?.required" class="text-danger font-weight-bold">
                      Branch is required
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-6">
                <button [disabled]="!createBank.valid" class="btn bg-gradient-danger text-white" type="submit">
                  Create
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

