<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-8 order-xl-1">
      <div class="card bg-secondary shadow">
        <form (ngSubmit)="editCustomerMaster()" [formGroup]="editCustomer" class="forms-sample">
          <div class="card-header bg-white border-0">
            <div class="row align-items-center">
              <div class="col-8">
                <h3 class="mb-0">Update Customer</h3>
              </div>
              <div class="col-4 text-right">
                <button class="btn btn-sm btn-secondary" type="reset">Reset</button>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div *ngIf="customerUpdateSuccess" class="alert alert-success">
              Customer Updated Successfully
            </div>
            <h6 class="heading-small text-muted mb-4">Customer Information</h6>
            <div class="row">
              <div class="col-lg-8">
                <div class="form-group">
                  <label class="form-control-label" for="customer_name">Customer Name</label>
                  <input
                    [ngClass]="{ 'is-invalid': editCustomer.controls.customer_name.errors && editCustomer.controls.customer_name.touched  || existingCustomerName  }"
                    class="form-control form-control-alternative" formControlName="customer_name" id="customer_name"
                    placeholder="Customer Name" type="text">
                  <div
                    *ngIf="editCustomer.controls.customer_name.errors && editCustomer.controls.customer_name.touched || existingCustomerName "
                    class="invalid-feedback">
                    <div *ngIf="editCustomer.controls.customer_name.errors?.required" class="text-danger font-weight-bold">
                      Customer  Name is required
                    </div>
                    <div *ngIf="existingCustomerName" class="text-danger font-weight-bold">
                      Customer Name is Already Taken
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="form-group">
                  <label class="form-control-label" for="customer_contact_no">Contact Number</label>
                  <input
                    [ngClass]="{ 'is-invalid': editCustomer.controls.customer_contact_no.errors && editCustomer.controls.customer_contact_no.touched}"
                    class="form-control form-control-alternative" formControlName="customer_contact_no" id="customer_contact_no"
                    placeholder="Contact Number" type="text">
                  <div
                    *ngIf="editCustomer.controls.customer_contact_no.errors && editCustomer.controls.customer_contact_no.touched "
                    class="invalid-feedback">
                    <div *ngIf="editCustomer.controls.customer_contact_no.errors?.required" class="text-danger font-weight-bold">
                      Customer Contact Number is required
                    </div>
                    <div *ngIf="editCustomer.controls.customer_contact_no.errors?.pattern" class="text-danger font-weight-bold">
                      Enter Valid Mobile Number
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-8">
                <div class="form-group">
                  <label class="form-control-label" for="customer_address">Address</label>
                  <input
                    [ngClass]="{ 'is-invalid': editCustomer.controls.customer_address.errors && editCustomer.controls.customer_address.touched}"
                    class="form-control form-control-alternative" formControlName="customer_address" id="customer_address"
                    placeholder="Customer Address" type="text">
                  <div
                    *ngIf="editCustomer.controls.customer_address.errors && editCustomer.controls.customer_address.touched " class="invalid-feedback">
                    <div *ngIf="editCustomer.controls.customer_address.errors?.required" class="text-danger font-weight-bold">
                      Customer Address is required
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="form-group">
                  <label class="form-control-label" for="customer_gstin">GSTIN</label>
                  <input
                    [ngClass]="{ 'is-invalid': editCustomer.controls.customer_gstin.errors && editCustomer.controls.customer_gstin.touched}"
                    class="form-control form-control-alternative" formControlName="customer_gstin" id="customer_gstin"
                    placeholder="GST Number" type="text">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-6">
                <button [disabled]="!editCustomer.valid" class="btn bg-gradient-danger text-white" type="submit">
                  Update
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

