<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-12 order-xl-1">
      <div class="card bg-secondary shadow">
        <ng-template #content let-modal>
          <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Update Customer</h4>
            <button (click)="modal.dismiss('Cross click')" aria-label="Close" class="close" type="button">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form (ngSubmit)="customerEditOnInvoice()" [formGroup]="editBookingCustomer" class="forms-sample">
            <div class="modal-body">
              <div *ngIf="editCustomerSuccess" class="alert alert-success">
                Customer Updated Successfully
              </div>
              <div class="form-group">
                <label class="form-control-label label-disable" for="edit_customer_name">Customer Name</label>

                <div class="ng-autocomplete">

                  <ng-autocomplete (inputChanged)="onChangeCustomer($event, 'edit')"
                                   (inputCleared)='onCustomerCleared()'
                                   (keydown.enter)="$event.preventDefault()"
                                   (selected)='selectEventCustomer($event, "edit")'
                                   [customFilter]="customerFilter" [data]="customerDetails"
                                   [itemTemplate]="customerListTemplate"
                                   [searchKeyword]="customerKeyword"
                                   formControlName="customer_name"
                                   id="edit_customer_name" placeholder="Enter Customer Name">
                  </ng-autocomplete>

                  <ng-template #customerListTemplate let-item>
                    <a [innerHTML]="item.customer_name"></a>
                  </ng-template>

                  <div *ngIf="editBookingCustomerValidation('customer_name')">
                    <div *ngIf="editBookingCustomer.controls.customer_name.errors?.required"
                         class="text-danger font-weight-bold">
                      Customer Name is required
                    </div>
                  </div>

                </div>


              </div>

              <div class="form-group">
                <label class="form-control-label label-disable" for="edit_customer_address">Address</label>
                <input [ngClass]="{ 'is-invalid': editBookingCustomerValidation('customer_address')}"
                       class="form-control form-control-alternative" formControlName="customer_address"
                       id="edit_customer_address" placeholder="Address" type="text">
                <div *ngIf="editBookingCustomerValidation('customer_address')"
                     class="invalid-feedback">
                  <div *ngIf="editBookingCustomer.controls.customer_address.errors?.required"
                       class="text-danger font-weight-bold">
                    Customer Address is required
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="form-control-label label-disable" for="edit_customer_contact_no">Contact Number</label>
                <input [ngClass]="{ 'is-invalid': editBookingCustomerValidation('customer_contact_no')}"
                       class="form-control form-control-alternative" formControlName="customer_contact_no"
                       id="edit_customer_contact_no" placeholder="Contact Number" type="text">
                <div *ngIf="editBookingCustomerValidation('customer_contact_no')" class="invalid-feedback">
                  <div *ngIf="editBookingCustomer.controls.customer_contact_no.errors?.required"
                       class="text-danger font-weight-bold">
                    Customer Contact Number is required
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="form-control-label label-disable" for="edit_customer_gstin">GSTIN</label>
                <input class="form-control form-control-alternative" formControlName="customer_gstin"
                       id="edit_customer_gstin" placeholder="GSTIN" type="text">
              </div>
            </div>
            <div class="modal-footer">
              <button [disabled]="!editBookingCustomer.valid" class="btn bg-gradient-danger text-white" type="submit">
                Update Customer
              </button>
              <button (click)="modal.close('Save click')" class="btn btn-outline-dark" type="button">Close</button>
            </div>
          </form>
        </ng-template>
        <ng-template #editBookingModel let-modal>
          <div class="modal-header">
            <h4 class="modal-title" id="editBooking">Edit Booking</h4>
            <button (click)="modal.dismiss('Cross click')" aria-label="Close" class="close" type="button">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form (ngSubmit)="editCustomerBooking()" [formGroup]="editBooking">
            <div class="modal-body">
              <div *ngIf="editBookingSuccess" class="alert alert-success">
                Booking Details Updated Successfully
              </div>
              <div class="form-group">
                <label class="form-control-label label-disable" for="edit_service_id">Service Title</label>
                <input class="form-control form-control-alternative input-disable" formControlName="service_id" tabindex="-1"  id="edit_service_id">

<!--                <ng-autocomplete class="input-disable" (inputChanged)="onChangeStock($event,'edit')"-->
<!--                                 (inputCleared)='onStockCleared()'-->
<!--                                 (keydown.enter)="$event.preventDefault()"-->
<!--                                 (selected)="selectEventStock($event, 'edit')"-->
<!--                                 [customFilter]="stockFilter"-->
<!--                                 [data]="stockDetails"-->
<!--                                 [itemTemplate]="stockListTemplate"-->
<!--                                 [notFoundTemplate]="notFoundTemplate"-->
<!--                                 [searchKeyword]="stockKeyword"-->
<!--                                 formControlName="service_id"-->
<!--                                 id="edit_service_id"-->
<!--                                 placeholder="Enter Service Name">-->

<!--                </ng-autocomplete>-->

<!--                <ng-template #stockListTemplate let-item>-->
<!--                  <a [innerHTML]="item.stock_name"></a>-->
<!--                </ng-template>-->

<!--                <ng-template #notFoundTemplate let-notFound>-->
<!--                  <div [innerHTML]="notFound"></div>-->
<!--                </ng-template>-->

<!--                <div *ngIf="editBookingValidation('service_id')" class="invalid-feedback">-->
<!--                  <div *ngIf="editBooking.controls.service_id.errors?.required"-->
<!--                       class="text-danger font-weight-bold">-->
<!--                    Select Service Name-->
<!--                  </div>-->
<!--                </div>-->
              </div>

              <div class="form-group">
                <label class="form-control-label label-disable" for="edit_book_qty">Qty</label>
                <input [ngClass]="{ 'is-invalid': editBookingValidation('qty_out') , 'input-disable': isInventory }"
                       class="form-control form-control-alternative" formControlName="qty_out" id="edit_book_qty"
                       placeholder="Rate" type="text">

                <div *ngIf="editBookingValidation('qty_out')" class="invalid-feedback">
                  <div *ngIf="editBooking.controls.qty_out.errors?.required"
                       class="text-danger font-weight-bold">
                    Enter Booking Quantity
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label class="form-control-label label-disable" for="edit_rate">Rate</label>
                <input [ngClass]="{ 'is-invalid': editBookingValidation('rate') }"
                       class="form-control form-control-alternative" formControlName="rate" id="edit_rate"
                       placeholder="Rate" type="text" value="{{stockDetail[0]['stock_mrp']}}">

                <div *ngIf="editBookingValidation('rate')" class="invalid-feedback">
                  <div *ngIf="editBooking.controls.rate.errors?.required"
                       class="text-danger font-weight-bold">
                    Enter Booking Rate
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label class="form-control-label label-disable" for="edit_extra_rate">Extra Rate</label>
                <input [ngClass]="{ 'is-invalid': editBookingValidation('extra_rate') }"
                       class="form-control form-control-alternative" formControlName="extra_rate" id="edit_extra_rate"
                       placeholder="Extra Rate" type="text">

                <div *ngIf="editBookingValidation('extra_rate')" class="invalid-feedback">
                  <div *ngIf="editBooking.controls.extra_rate.errors?.required"
                       class="text-danger font-weight-bold">
                    Enter Booking Rate
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label class="form-control-label label-disable" for="edit_date">Date</label>
                <input
                  [ngClass]="{ 'is-invalid': editBookingValidation('date') }"
                  class="form-control form-control-alternative" formControlName="date" id="edit_date"
                  placeholder="Date" type="date">

                <div *ngIf="editBookingValidation('date')" class="invalid-feedback">
                  <div *ngIf="editBooking.controls.date.errors?.required"
                       class="text-danger font-weight-bold">
                    Select Booking Date
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="form-control-label label-disable" for="edit_days">Days</label>
                <input
                  [ngClass]="{ 'is-invalid': editBookingValidation('days') }"
                  class="form-control form-control-alternative" formControlName="days" id="edit_days"
                  placeholder="Days" type="text">

                <div *ngIf="editBookingValidation('days')" class="invalid-feedback">
                  <div *ngIf="editBooking.controls.days.errors?.required"
                       class="text-danger font-weight-bold">
                    Enter Booking Days
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="form-control-label label-disable" for="edit_time">Time</label>
                <select
                  [ngClass]="{ 'is-invalid': editBookingValidation('time')}"
                  class="form-control form-control-alternative" formControlName="time" id="edit_time">
                  <option value="FULL">Full Day</option>
                  <option value="M">Morning</option>
                  <option value="AN">After Noon</option>
                  <option value="E">Evening</option>
                  <option value="N">Night</option>
                </select>

                <div *ngIf="editBookingValidation('time')" class="invalid-feedback">
                  <div *ngIf="editBooking.controls.time.errors?.required"
                       class="text-danger font-weight-bold">
                    Select Booking Time
                  </div>
                </div>
              </div>
              <div class="form-group">
                <button [disabled]="!editBooking.valid" class="btn bg-gradient-danger text-white"
                        type="submit">Update
                </button>
              </div>
            </div>
          </form>
        </ng-template>

        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Create New Booking</h3>
            </div>

            <div class="col-4 text-right">
              <button (click)="openCustomerEditModel(content)" *ngIf="invoice" class="btn btn-sm btn-primary" tabindex="-1">Edit Invoice Customer</button>
              <button (click)="resetInvoice()" class="btn btn-sm btn-secondary" tabindex="-1" type="reset">Reset
              </button>
            </div>
          </div>
        </div>
        <form (ngSubmit)="createCustomerBooking()" [formGroup]="createBooking" class="forms-sample">
          <div class="card-body">
            <div *ngIf="BookingCreatedSuccess" class="alert alert-success">
              Booking Created Successfully
            </div>
            <div class="row">
              <div class="col-lg-2">
                <div class="form-group">
                  <label class="form-control-label label-disable" for="invoice_number">Invoice Number</label>
                  <input (change)="getBookingOnInvoiceChange($event)"
                         [attr.tabindex]="invoice ? -1 : 0"
                         [ngClass]="{ 'is-invalid': formValidation('invoice_number') , 'input-disable': invoice  }"
                         class="form-control form-control-alternative" formControlName="invoice_number"
                         id="invoice_number" placeholder="Booking Number" type="text">

                </div>
              </div>
              <div class="col-lg-2"></div>
              <div class="col-lg-2"></div>
              <div class="col-lg-2"></div>
              <div class="col-lg-2"></div>
              <div class="col-lg-2">
                <div class="form-group">
                  <label class="form-control-label label-disable" for="invoice_date">Date</label>
                  <input [attr.tabindex]="invoice ? -1 : 0"
                         [ngClass]="{ 'is-invalid': formValidation('invoice_date') , 'input-disable': invoice  }"
                         class="form-control form-control-alternative" formControlName="invoice_date" id="invoice_date"
                         type="date">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-5">
                <div class="form-group">
                  <label class="form-control-label label-disable" for="customer_name">Customer Name</label>
                  <ng-autocomplete (inputChanged)="onChangeCustomer($event, 'create')"
                                   (inputCleared)='onCustomerCleared()'
                                   (keydown.enter)="$event.preventDefault()"
                                   (selected)='selectEventCustomer($event, "create")'
                                   [customFilter]="customerFilter"
                                   [data]="customerDetails"
                                   [itemTemplate]="customerListTemplate"
                                   [ngClass]="{ 'input-disable': invoice  }"
                                   [searchKeyword]="customerKeyword"
                                   formControlName="customer_name"
                                   id="customer_name"
                                   placeholder="Enter Customer Name">
                  </ng-autocomplete>


                  <ng-template #customerListTemplate let-item>
                    <a
                      [innerHTML]="item.customer_name + ' '+ item.customer_address + ' '  + item.customer_contact_no"></a>
                  </ng-template>
                  <div *ngIf="formValidation('customer_name')">
                    <div *ngIf="createBooking.controls.customer_name.errors?.required"
                         class="text-danger font-weight-bold">
                      Customer Name is required
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-3">
                <div class="form-group">
                  <label class="form-control-label label-disable" for="customer_address">Address</label>
                  <input (keydown.enter)="$event.preventDefault()"
                         [attr.tabindex]="invoice || customerIsSelected || formValidation('customer_name') ? -1 : 0"
                         [ngClass]="{ 'is-invalid': formValidation('customer_address') && !formValidation('customer_name'), 'input-disable': invoice || customerIsSelected || formValidation('customer_name')  }"
                         class="form-control form-control-alternative"
                         formControlName="customer_address" id="customer_address" placeholder="Address"
                         type="text">
                  <div *ngIf="formValidation('customer_address')"
                       class="invalid-feedback">
                    <div *ngIf="createBooking.controls.customer_address.errors?.required"
                         class="text-danger font-weight-bold">
                      Customer Address is required
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-2">
                <div class="form-group">
                  <label class="form-control-label label-disable" for="customer_contact_no">Contact Number</label>
                  <input (keydown.enter)="$event.preventDefault()"
                         [attr.tabindex]="invoice || customerIsSelected || formValidation('customer_name')? -1 : 0"
                         [ngClass]="{ 'is-invalid': formValidation('customer_contact_no')  && !formValidation('customer_name'), 'input-disable': invoice || customerIsSelected || formValidation('customer_name') }"
                         class="form-control form-control-alternative"
                         formControlName="customer_contact_no" id="customer_contact_no" placeholder="Contact Number"
                         type="text">
                  <div *ngIf="formValidation('customer_contact_no')" class="invalid-feedback">
                    <div *ngIf="createBooking.controls.customer_contact_no.errors?.required"
                         class="text-danger font-weight-bold">
                      Customer Contact Number is required
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-2">
                <div class="form-group">
                  <label class="form-control-label label-disable" for="customer_gstin">GSTIN</label>
                  <input (blur)="serviceFocus()" (keydown.enter)="$event.preventDefault()"
                         [attr.tabindex]="invoice || customerIsSelected || formValidation('customer_name') ? -1 : 0"
                         [ngClass]="{'input-disable': invoice || customerIsSelected || formValidation('customer_name') }"
                         class="form-control form-control-alternative" formControlName="customer_gstin"
                         id="customer_gstin" placeholder="Contact GSTIN"
                         type="text">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="card shadow" style="width: 100%;">
                <div class="table-responsive">
                  <table class="table header-fixed align-items-center table-flush">
                    <thead class="thead-light text-center">
                      <tr>
                        <th class="col-md-2">Service Title</th>
                        <th class="col-md-1"> Remaining Quantity</th>
                        <th class="col-md-1">Quantity</th>
                        <th class="col-1">Rate / Day</th>
                        <th class="col-md-1"> Extra Rate</th>
                        <th class="col-md-2">Date</th>
                        <th class="col-md-1">Days</th>
                        <th class="col-md-1">Time</th>
                        <th class="col-md-1">Total</th>
                        <th class="col-md-1">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                    <tr class="py-2 my-2">
                      <th class="px-1">
                        <ng-autocomplete #service (inputChanged)="onChangeStock($event,'create')"
                                         (inputCleared)='onStockCleared()'
                                         (keydown.enter)="$event.preventDefault()"
                                         (selected)="selectEventStock($event, 'create')"
                                         [customFilter]="stockFilter"
                                         [data]="stockDetails"
                                         [itemTemplate]="stockListTemplate"
                                         [notFoundTemplate]="notFoundTemplate"
                                         [searchKeyword]="stockKeyword"
                                         formControlName="service_id"
                                         id="service_id"
                                         placeholder="Enter Service Name">
                        </ng-autocomplete>

                        <ng-template #stockListTemplate let-item>
                          <a [innerHTML]="item.stock_name + ' (' +item.stock_available+')' "></a>
                        </ng-template>

                        <ng-template #notFoundTemplate let-notFound>
                          <div [innerHTML]="notFound"></div>
                        </ng-template>


                      </th>

                      <th class="px-1">
                        <input [ngClass]="{'input-disable': true}" class="form-control form-control-alternative" formControlName="stock_available" placeholder="Qty" type="number">
                      </th>
                      <th class="px-1">
                        <input (blur)="currentBookingTotal()"
                               (keydown.enter)="$event.preventDefault()"
                               [attr.tabindex]="isInventory || stockDetailStatus ? -1 : 0"
                               [ngClass]="{ 'is-invalid': formValidation('qty_out') && !formValidation('service_id') , 'input-disable': isInventory || stockDetailStatus}"
                               class="form-control form-control-alternative m-0"
                               formControlName="qty_out"
                               id="qty_out"
                               placeholder="Qty" type="number">

                               <!-- max="{{stockAvailable}}" -->


                      </th>
                      <th class="px-1">

                        <input (blur)="currentBookingTotal()" (keydown.enter)="$event.preventDefault()"
                               [attr.tabindex]="stockDetailStatus ? -1 : 0"
                               [ngClass]="{ 'is-invalid': formValidation('rate') && !formValidation('service_id') , 'input-disable': stockDetailStatus }"
                               class="form-control form-control-alternative  m-0" formControlName="rate" id="rate"
                               placeholder="Rate" type="number">

                      </th>
                      <th class="px-1">

                        <input (blur)="currentBookingTotal()" (keydown.enter)="$event.preventDefault()"
                               [attr.tabindex]="stockDetailStatus ? -1 : 0"
                               [ngClass]="{ 'is-invalid': formValidation('extra_rate') && !formValidation('service_id') , 'input-disable': stockDetailStatus }"
                               class="form-control form-control-alternative  m-0" formControlName="extra_rate" id="extra_rate"
                               placeholder="Rate" type="number">
                      </th>
                      <th class="px-1">
                        <input (keydown.enter)="$event.preventDefault()" [attr.tabindex]="stockDetailStatus ? -1 : 0"
                               [ngClass]="{ 'is-invalid': formValidation('date') && !formValidation('service_id') , 'input-disable': stockDetailStatus}"
                               class="form-control form-control-alternative"
                               formControlName="date" id="date" placeholder="Date" type="date">


                      </th>
                      <th class="px-1">
                        <input (blur)="currentBookingTotal()" (keydown.enter)="$event.preventDefault()"
                               [attr.tabindex]="stockDetailStatus ? -1 : 0"
                               [ngClass]="{ 'is-invalid': formValidation('days') && !formValidation('service_id'), 'input-disable': stockDetailStatus  }"
                               class="form-control form-control-alternative"
                               formControlName="days" id="days" placeholder="Days" type="text">


                      </th>
                      <th class="px-1">
                        <select
                          [attr.tabindex]="stockDetailStatus ? -1 : 0"
                          [ngClass]="{ 'is-invalid': formValidation('time') && !formValidation('service_id'), 'input-disable': stockDetailStatus }"
                          class="form-control form-control-alternative" formControlName="time" id="time">
                          <option value="FULL">Full Day</option>
                          <option value="M">Morning</option>
                          <option value="AN">After Noon</option>
                          <option value="E">Evening</option>
                          <option value="N">Night</option>
                        </select>


                      </th>
                      <th>{{currentTotal}}</th>

                      <th class="px-1">
                        <button [attr.tabindex]="stockDetailStatus ? -1 : 0" [disabled]="!createBooking.valid"
                                class="btn bg-gradient-danger text-white"
                                type="submit">Book
                        </button>
                      </th>
                    </tr>
                    <tr *ngIf="formValidation('service_id')">
                      <th>
                        <div *ngIf="formValidation('service_id')">
                          <div *ngIf="createBooking.controls.service_id.errors?.required"
                               class="text-danger font-weight-bold">
                            Select Service Name
                          </div>
                        </div>
                      </th>
                      <th></th>
                      <th>
                        <div *ngIf="formValidation('qty_out')" class="invalid-feedback">
                          <div class="text-danger font-weight-bold">
                            Enter Quantity
                          </div>
                        </div>
                      </th>
                      <th>
                        <div *ngIf="formValidation('rate')" class="invalid-feedback">
                          <div *ngIf="createBooking.controls.rate.errors?.required"
                               class="text-danger font-weight-bold">
                            Enter Rate
                          </div>
                        </div>
                      </th>
                      <th></th>
                      <th>
                        <div *ngIf="formValidation('date')" class="invalid-feedback">
                          <div *ngIf="createBooking.controls.date.errors?.required"
                               class="text-danger font-weight-bold">
                            Select Date
                          </div>
                        </div>
                      </th>
                      <th>
                        <div *ngIf="formValidation('days')" class="invalid-feedback">
                          <div *ngIf="createBooking.controls.days.errors?.required"
                               class="text-danger font-weight-bold">
                            Enter Days
                          </div>
                        </div>
                      </th>
                      <th>
                        <div *ngIf="formValidation('time')" class="invalid-feedback">
                          <div *ngIf="createBooking.controls.time.errors?.required"
                               class="text-danger font-weight-bold">
                            Select Time
                          </div>
                        </div>
                      </th>
                      <th></th>
                      <th></th>
                    </tr>
                    </tbody>
                    <tbody *ngIf="invoice">
                    <tr *ngFor="let book of bookingData">

                      <!--                  <td>{{book.id}}</td>-->
                      <td>{{book.stock_name}}</td>
                      <td>-</td>
                      <td>{{book.qty_out}}</td>
                      <td>{{book.rate}}</td>
                      <td>{{book.extra_rate}}</td>

                      <td>{{book.date}}</td>
                      <td>{{book.days}}</td>
                      <td>{{book.time}}</td>
                      <td>{{book.total}}</td>
                      <td>
                        <a (click)="openEditBookingModel(editBookingModel,book.id)" class="btn btn-sm btn-primary"
                           tabindex="-1">
                          Edit
                        </a>
                        <a (click)="deleteBooking(book.id,book.is_inventory)" class="btn btn-sm  btn-danger" tabindex="-1">Delete</a>
                      </td>

                    </tr>
                    </tbody>
                    <thead class="thead-light ">
                    <tr>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th>Invoice Total -</th>
                      <th>{{InvoiceTotalAmount}}</th>

                      <th></th>

                    </tr>
                    </thead>
                  </table>
                </div>
              </div>

            </div>

          </div>
        </form>
      </div>
    </div>
  </div>
</div>

