
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col">

      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0">Bank List</h3>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
            <tr>
              <th>S No</th>
              <th>Bank Name</th>
              <th>Account Number</th>
              <th>IFSC Code</th>
              <th>Branch</th>
              <th>Created At</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let Bank of BankData">

              <td>{{Bank.id}}</td>
              <td>{{Bank.bank_name}}</td>
              <td>{{Bank.account_no}}</td>
              <td>{{Bank.ifsc_code}}</td>
              <td>{{Bank.branch}}</td>
              <td>{{Bank.created_at | date: 'longDate'}}</td>
              <td>
<!--                <a class="btn btn-sm btn-primary"-->
<!--                   routerLink="/Dashboard/Masters/BankMaster/EditBank/{{Bank.id}}">-->
<!--                  <span class="menu-title">Edit</span>-->
<!--                </a>-->
                <button class="btn btn-sm  btn-danger" (click)="deleteBank(Bank.id)">Delete</button>
     ``         </td>
            </tr>
            </tbody>
          </table>
        </div>

        <div  *ngIf="noBankFound" class="card p-4 text-center my-4" style="width: 100%;">
          <b>No Bank is Created yet</b>
        </div>
<!--        <div class="card-footer py-4">-->
<!--          <nav aria-label="...">-->
<!--            <ul class="pagination justify-content-end mb-0">-->
<!--              <li class="page-item disabled">-->
<!--                <a class="page-link" href="javascript:void(0)" tabindex="-1">-->
<!--                  <i class="fas fa-angle-left"></i>-->
<!--                  <span class="sr-only">Previous</span>-->
<!--                </a>-->
<!--              </li>-->
<!--              <li class="page-item active">-->
<!--                <a class="page-link" href="javascript:void(0)">1</a>-->
<!--              </li>-->
<!--              <li class="page-item">-->
<!--                <a class="page-link" href="javascript:void(0)">2 <span class="sr-only">(current)</span></a>-->
<!--              </li>-->
<!--              <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>-->
<!--              <li class="page-item">-->
<!--                <a class="page-link" href="javascript:void(0)">-->
<!--                  <i class="fas fa-angle-right"></i>-->
<!--                  <span class="sr-only">Next</span>-->
<!--                </a>-->
<!--              </li>-->
<!--            </ul>-->
<!--          </nav>-->
<!--        </div>-->
      </div>
    </div>
  </div>
</div>
