<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-10 order-xl-1">
      <div class="card bg-secondary shadow">
        <form (ngSubmit)="createStockMaster()" [formGroup]="createStock" class="forms-sample">
          <div class="card-header bg-white border-0">
            <div class="row align-items-center">
              <div class="col-8">
                <h3 class="mb-0">Create New Stock</h3>
              </div>
              <div class="col-4 text-right">
                <button class="btn btn-sm btn-secondary" type="reset">Reset</button>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div *ngIf="stockCreatedSuccess" class="alert alert-success">
              Stock Created Successfully
            </div>
            <h6 class="heading-small text-muted mb-4">Stock Information</h6>
            <div class="row">
              <div class="col-lg-4">
                <div class="form-group">
                  <label class="form-control-label" for="is_inventory">Inventory</label>
                  <select
                    [ngClass]="{ 'is-invalid': createStock.controls.is_inventory.errors && createStock.controls.is_inventory.touched}" (change)="isInventory($event)"
                    class="form-control form-control-alternative" formControlName="is_inventory" id="is_inventory" >
                    <option value="1">Yes</option>
                    <option value="0">No</option>
                  </select>
                  <div
                    *ngIf="createStock.controls.is_inventory.errors && createStock.controls.is_inventory.touched " class="invalid-feedback">
                    <div *ngIf="createStock.controls.is_inventory.errors?.required" class="text-danger font-weight-bold">
                      Is Stock Inventory?
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="form-group">
                  <label class="form-control-label" for="faculty_department">Select Firm</label>
                  <select
                    [ngClass]="{ 'is-invalid': createStock.controls.firm_id.errors && createStock.controls.firm_id.touched}"
                    class="form-control form-control-alternative" formControlName="firm_id"
                    id="faculty_department">
                    <option *ngFor="let firm of firmData" [value]="firm.id">{{firm.firm_name}}</option>
                  </select>
                  <div
                    *ngIf="createStock.controls.firm_id.errors && createStock.controls.firm_id.touched"
                    class="invalid-feedback">
                    <div *ngIf="createStock.controls.firm_id.errors?.required"
                         class="text-danger font-weight-bold">
                      Please Select Firm
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="form-group">
                  <label class="form-control-label" for="stock_name">Stock Name</label>
                  <input [ngClass]="{ 'is-invalid': createStock.controls.stock_name.errors && createStock.controls.stock_name.touched  || existingStockName  }"
                    class="form-control form-control-alternative"  formControlName="stock_name" id="stock_name"
                    placeholder="Stock Name" type="text">
                  <div
                    *ngIf="createStock.controls.stock_name.errors && createStock.controls.stock_name.touched || existingStockName "
                    class="invalid-feedback">
                    <div *ngIf="createStock.controls.stock_name.errors?.required" class="text-danger font-weight-bold">
                      Stock  Name is required
                    </div>
                    <div *ngIf="existingStockName" class="text-danger font-weight-bold">
                      Stock Name is Already Taken
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-3" *ngIf="isInventoryTrue">
                <div class="form-group">
                  <label class="form-control-label" for="stock_qty">Stock Quantity</label>
                  <input class="form-control form-control-alternative" formControlName="stock_qty" id="stock_qty"
                    placeholder="Stock Quantity " type="number">
                  <div
                    *ngIf="createStock.controls.stock_qty.errors && createStock.controls.stock_qty.touched " class="invalid-feedback">
                    <div *ngIf="createStock.controls.stock_qty.errors?.required" class="text-danger font-weight-bold">
                      Enter Stock Quantity
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="form-group">
                  <label class="form-control-label" for="stock_mrp">Stock Rate</label>
                  <input
                    [ngClass]="{ 'is-invalid': createStock.controls.stock_mrp.errors && createStock.controls.stock_mrp.touched}"
                    class="form-control form-control-alternative" formControlName="stock_mrp" id="stock_mrp"
                    placeholder="Stock Market Rate" type="number">
                  <div
                    *ngIf="createStock.controls.stock_mrp.errors && createStock.controls.stock_mrp.touched " class="invalid-feedback">
                    <div *ngIf="createStock.controls.stock_mrp.errors?.required" class="text-danger font-weight-bold">
                      Stock Rate is required
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="form-group">
                  <label class="form-control-label" for="stock_type">Stock Type</label>
                  <select
                    [ngClass]="{ 'is-invalid': createStock.controls.stock_type.errors && createStock.controls.stock_type.touched}"
                    class="form-control form-control-alternative" formControlName="stock_type" id="stock_type">
                    <option value="0">Primary</option>
                    <option value="1">Secondary</option>
                  </select>
                </div>
              </div>

              <div class="col-lg-3" *ngIf="isInventoryTrue">
                <div class="form-group">
                  <label class="form-control-label" for="stock_value">Stock Value</label>
                  <input
                    [ngClass]="{ 'is-invalid': createStock.controls.stock_value.errors && createStock.controls.stock_value.touched}"
                    class="form-control form-control-alternative" formControlName="stock_value" id="stock_value"
                    placeholder="Stock Value" type="number">
                  <div
                    *ngIf="createStock.controls.stock_value.errors && createStock.controls.stock_value.touched " class="invalid-feedback">
                    <div *ngIf="createStock.controls.stock_value.errors?.required" class="text-danger font-weight-bold">
                     Enter Stock Value
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-6">
                <button [disabled]="!createStock.valid" class="btn bg-gradient-danger text-white" type="submit">
                  Create
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

