<div class="container-fluid mt--7">
  <div class="row">
    <div class="col">

      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0">Invoice List</h3>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
            <tr>
              <th>S No</th>
              <th>Invoice Number</th>
              <th>Customer</th>
              <th>Invoice Date</th>
              <th>Total</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let invoice of invoiceData">

              <td>{{invoice.id}}</td>
              <td>{{invoice.invoice_number}}</td>
              <td>{{invoice.invoice_customer_id}}</td>
              <td>{{invoice.invoice_date | date: 'longDate'}}</td>
              <td>{{invoice.invoice_total}}</td>
              <td>
                <a class="btn btn-sm btn-primary"
                   routerLink="/Dashboard/Booking/CreateBooking/{{invoice.invoice_number}}">
                  <span class="menu-title">View</span>
                </a>
                <button class="btn btn-sm  btn-danger" (click)="deleteInvoice(invoice.id)">Delete</button>
              </td>

            </tr>
            </tbody>
          </table>
        </div>
<!--        <div class="card-footer py-4">-->
<!--          <nav aria-label="...">-->
<!--            <ul class="pagination justify-content-end mb-0">-->
<!--              <li class="page-item disabled">-->
<!--                <a class="page-link" href="javascript:void(0)" tabindex="-1">-->
<!--                  <i class="fas fa-angle-left"></i>-->
<!--                  <span class="sr-only">Previous</span>-->
<!--                </a>-->
<!--              </li>-->
<!--              <li class="page-item active">-->
<!--                <a class="page-link" href="javascript:void(0)">1</a>-->
<!--              </li>-->
<!--              <li class="page-item">-->
<!--                <a class="page-link" href="javascript:void(0)">2 <span class="sr-only">(current)</span></a>-->
<!--              </li>-->
<!--              <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>-->
<!--              <li class="page-item">-->
<!--                <a class="page-link" href="javascript:void(0)">-->
<!--                  <i class="fas fa-angle-right"></i>-->
<!--                  <span class="sr-only">Next</span>-->
<!--                </a>-->
<!--              </li>-->
<!--            </ul>-->
<!--          </nav>-->
<!--        </div>-->
      </div>
    </div>
  </div>
</div>
