<!-- Sidenav -->
<!--<app-sidebar></app-sidebar>-->
<app-menu></app-menu>
<div class="main-content">
  <!-- Top navbar -->
<!--  <app-header></app-header>-->
  <!-- Pages -->
  <router-outlet></router-outlet>
  <div class="container-fluid">
    <app-footer></app-footer>
  </div>
</div>
