<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-8 order-xl-1">
      <div class="card bg-secondary shadow">
        <form (ngSubmit)="createFirmMaster()" [formGroup]="createFirm" class="forms-sample">
          <div class="card-header bg-white border-0">
            <div class="row align-items-center">
              <div class="col-8">
                <h3 class="mb-0">Create New Firm</h3>
              </div>
              <div class="col-4 text-right">
                <button class="btn btn-sm btn-secondary" type="reset">Reset</button>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div *ngIf="firmCreatedSuccess" class="alert alert-success">
              Firm Created Successfully
            </div>
            <h6 class="heading-small text-muted mb-4">Firm Information</h6>
            <div class="row">
              <div class="col-lg-8">
                <div class="form-group">
                  <label class="form-control-label" for="firm_name">Firm Name</label>
                  <input #firmName
                    [ngClass]="{ 'is-invalid': createFirm.controls.firm_name.errors && createFirm.controls.firm_name.touched  || existingFirmName  }"
                    class="form-control form-control-alternative"  formControlName="firm_name" id="firm_name"
                    placeholder="Firm Name" type="text">
                  <div
                    *ngIf="createFirm.controls.firm_name.errors && createFirm.controls.firm_name.touched || existingFirmName "
                    class="invalid-feedback">
                    <div *ngIf="createFirm.controls.firm_name.errors?.required" class="text-danger font-weight-bold">
                      Firm  Name is required
                    </div>
                    <div *ngIf="existingFirmName" class="text-danger font-weight-bold">
                      Firm Name is Already Taken
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="form-group">
                  <label class="form-control-label" for="firm_contact_no">Contact Number</label>
                  <input
                    [ngClass]="{ 'is-invalid': createFirm.controls.firm_contact_no.errors && createFirm.controls.firm_contact_no.touched}"
                    class="form-control form-control-alternative" formControlName="firm_contact_no" id="firm_contact_no"
                    placeholder="Contact Number" type="text">
                  <div
                    *ngIf="createFirm.controls.firm_contact_no.errors && createFirm.controls.firm_contact_no.touched "
                    class="invalid-feedback">
                    <div *ngIf="createFirm.controls.firm_contact_no.errors?.required" class="text-danger font-weight-bold">
                      Firm Contact Number is required
                    </div>
                    <div *ngIf="createFirm.controls.firm_contact_no.errors?.pattern" class="text-danger font-weight-bold">
                      Enter Valid Mobile Number
                    </div>

                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-8">
                <div class="form-group">
                  <label class="form-control-label" for="firm_address">Address</label>
                  <input [ngClass]="{ 'is-invalid': createFirm.controls.firm_address.errors && createFirm.controls.firm_address.touched}"
                    class="form-control form-control-alternative" formControlName="firm_address" id="firm_address"
                    placeholder="Firm Address" type="text">
                  <div
                    *ngIf="createFirm.controls.firm_address.errors && createFirm.controls.firm_address.touched " class="invalid-feedback">
                    <div *ngIf="createFirm.controls.firm_address.errors?.required" class="text-danger font-weight-bold">
                      Firm Address is required
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="form-group">
                  <label class="form-control-label" for="firm_gstin">GSTIN</label>
                  <input
                    [ngClass]="{ 'is-invalid': createFirm.controls.firm_gstin.errors && createFirm.controls.firm_gstin.touched}"
                    class="form-control form-control-alternative" formControlName="firm_gstin" id="firm_gstin"
                    placeholder="GST Number" type="text">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-6">
                <button [disabled]="!createFirm.valid" class="btn bg-gradient-danger text-white" type="submit">
                  Create
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

