<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-12 order-xl-1">
      <div class="card bg-secondary shadow">

        <div class="card-header bg-white border-0">
          <div class="row align-items-center">

            <div class="col-8">
              <h3 class="mb-0">Stock Return</h3>
            </div>

            <div class="col-4 text-right">
              <span class="mx-5"><b>Date: {{today | date: 'longDate'}}</b></span>
              <button  class="btn btn-sm btn-secondary" tabindex="-1" type="reset">Reset</button>
            </div>
          </div>
        </div>
        <div class="card-body">

          <div *ngIf="stockReturnSuccess" class="alert alert-success">
            Stock Updated Successfully
          </div>

          <div class="row">
            <div class="col-lg-2">
              <div class="form-group">
                <label class="form-control-label label-disable" for="invoice_number">Invoice Number</label>
                <input (change)="getBookingOnInvoiceChange($event)"  [ngClass]="{ 'input-disable': routeParams  }"
                       class="form-control form-control-alternative" value="{{invoiceNo.invoice_number}}" tabindex="-1"
                       id="invoice_number" placeholder="Booking Number"  type="text">
              </div>
            </div>
            <div class="col-lg-3">
              <div class="form-group">
                <label class="form-control-label label-disable" for="customer_name">Customer Name</label>

                <input tabindex="-1" class="form-control form-control-alternative input-disable" id="customer_name" [value]="customerDetail.customer_name"  type="text">
              </div>
            </div>
            <div class="col-lg-3">
              <div class="form-group">
                <label class="form-control-label label-disable" for="customer_address">Address</label>
                <input tabindex="-1" class="form-control form-control-alternative input-disable" id="customer_address" [value]="customerDetail.customer_address" type="text">
              </div>
            </div>
            <div class="col-lg-2">
              <div class="form-group">
                <label class="form-control-label label-disable" for="customer_contact_no">Contact Number</label>
                <input tabindex="-1" class="form-control form-control-alternative input-disable" id="customer_contact_no" [value]="customerDetail.customer_contact_no" type="text">
              </div>
            </div>
            <div class="col-lg-2">
              <div class="form-group">
                <label class="form-control-label label-disable" for="customer_gstin">GSTIN</label>
                <input tabindex="-1" class="form-control form-control-alternative input-disable" id="customer_gstin" [value]="customerDetail.customer_gstin" type="text">
              </div>
            </div>
          </div>
        </div>

        <ng-template #stockReturnNotFound>
          <div class="card shadow p-4 text-center" style="width: 100%;">
            <b>The Stock is Up to Date.</b>
          </div>
        </ng-template>
        <div class="overflow-auto"  *ngIf="stockReturnAvailable; else stockReturnNotFound">
          <div class="card shadow" style="width: 100%;">
          <div class="table-responsive">
            <form [formGroup]="stockReturn" (ngSubmit)="onSubmit()">
              <div formArrayName="stock">
                <table class="table header-fixed align-items-center table-flush">
                  <thead class="thead-light ">
                    <tr>
                      <th class="col-md-4">Service Title</th>
<!--                      <th class="col-md-1">Rate</th>-->
<!--                      <th class="col-md-1">Extra Rate</th>-->
                      <th class="col-md-1">Quantity Out</th>
<!--                      <th class="col-md-1">Remaining</th>-->
                      <th class="col-md-1">In</th>
                      <th class="col-md-1">Lost</th>
                      <th class="col-md-1">Lost Value</th>
                      <th class="col-md-1">Book Date</th>
                      <th class="col-md-1">Return Date</th>
                      <th class="col-md-1">Final Amount</th>
                      <th class="col-md-1">Update Status</th>
                    </tr>
                  </thead>
                  <tbody style="margin-top: 10px;"  *ngFor="let stock of stock.controls; let i=index">
                      <tr  [formGroupName]="i"  *ngIf="checkStokeReturnStatus(i)">
                        <th class="p-2">
                          <input tabindex="-1" class="form-control form-control-alternative input-disable"  formControlName="service_name" type="text">
                        </th>
<!--                        <th class="p-2">-->
<!--                          <input tabindex="-1" class="form-control form-control-alternative input-disable" formControlName="rate" type="text">-->
<!--                        </th>-->
<!--                        <th class="p-2">-->
<!--                          <input tabindex="-1" class="form-control form-control-alternative input-disable" formControlName="extra_rate" type="text">-->
<!--                        </th>-->
                        <th class="p-2">
                          <input tabindex="-1" class="form-control form-control-alternative input-disable" formControlName="qty_out" type="text">
                        </th>
<!--                        <th class="p-2">-->
<!--                          <input tabindex="-1" class="form-control form-control-alternative input-disable" formControlName="qty_remaining" type="text">-->
<!--                        </th>-->
                        <th class="p-2">
                          <ng-template class="text-center" #totalRemainingQuantity>
                            <b>Total Remaining Quantity = {{stock.get('qty_remaining')?.value}}</b>
                            <br><b>Quantity In = {{stock.get('qty_in')?.value}}</b>
                            <br><b>Quantity Lost = {{stock.get('qty_lost')?.value}}</b>
                            <br> <b>Remaining Quantity = {{stock.get('qty_remaining')?.value - (stock.get('qty_in')?.value + stock.get('qty_lost')?.value)}}</b>
                          </ng-template>
                          <input class="form-control form-control-alternative" (change)="currentBookingTotal(i)"
                                 formControlName="qty_in" type="number" placeholder="RQ - {{stock.get('qty_remaining')?.value}}"
                                 [ngbPopover]="totalRemainingQuantity" triggers="mouseenter:mouseleave" container="body">
                          <div *ngIf="formValidation('qty_in',i)" class="text-danger font-weight-bold" >
                            Enter Valid Quantity
                          </div>
                        </th>
                        <th class="p-2">

                          <ng-template class="text-center" #remainingQuantity>
                            <b> Remaining Quantity = {{stock.get('qty_remaining')?.value - (stock.get('qty_in')?.value + stock.get('qty_lost')?.value)}}</b>
                          </ng-template>
                          <input class="form-control form-control-alternative" (change)="currentBookingTotal(i)"  formControlName="qty_lost"
                                 max="{{stock.get('qty_remaining')?.value - stock.get('qty_in')?.value}}" type="number"
                                 [ngbPopover]="remainingQuantity" triggers="mouseenter:mouseleave" container="body">
                          <div *ngIf="formValidation('qty_lost',i)" class="text-danger font-weight-bold">
                            Enter Valid Quantity
                          </div>
                        </th>
                        <th class="p-2">
                          <input class="form-control form-control-alternative" (change)="currentBookingTotal(i)"  formControlName="lost_value" type="number">


                        </th>
                        <th class="p-2">
                          <input tabindex="-1" class="form-control form-control-alternative input-disable" formControlName="book_date" type="date">
                          <div *ngIf="formValidation('date',i)" class="text-danger font-weight-bold">
                            Enter Return Date
                          </div>
                        </th>
                        <th class="p-2">
                          <input class="form-control form-control-alternative" [max]="today" [min]="(stock.get('book_date')?.value) | date:'yyyy-MM-dd'"
                                 (change)="currentBookingTotal(i)" formControlName="date" type="date">

                          <div *ngIf="formValidation('date',i)" class="text-danger font-weight-bold">
                            Return Date
                          </div>
                        </th>

                        <th class="p-2">
                          <ng-template #totalAmountPop>
                            <I><b>Final Amount Calculation</b></I>
                            <br><b>Rate = {{ stock.get('rate')?.value + stock.get('extra_rate')?.value }}</b>
<!--                            <br><b>Quantity In = {{ stock.get('qty_in')?.value }}</b>-->
                            <br><b>Booking Days = {{ calculateDiff(stock.get('date')?.value, stock.get('book_date')?.value) }}</b>
                            <span *ngIf="stock.get('qty_in')?.value">
                              <br><b>Booking Amount = {{ stock.get('qty_in')?.value * stock.get('rate')?.value }}</b>
                            </span>
                            <span *ngIf="stock.get('qty_lost')?.value">
                              <br><b>Lost Quantity Amount = {{ stock.get('qty_lost')?.value * stock.get('lost_value')?.value }}</b>
                            </span>
                            <br><b>Final Amount = {{stock.get('total')?.value}}</b>
                          </ng-template>

                          <input class="form-control form-control-alternative" formControlName="total" type="text"
                                 [ngbPopover]="totalAmountPop" triggers="mouseenter:mouseleave" container="body" >

                          <div *ngIf="formValidation('total',i)" class="text-danger font-weight-bold">
                            Enter Total Value
                          </div>
                        </th>

                        <th class="p-2">
                          <button (click)="updateSingleStock(i)" [disabled]="stock.invalid" class="btn bg-gradient-danger text-white" type="button">Submit</button>
                        </th>
                      </tr>
                  </tbody>

                </table>
          </div>
              </form>

          </div>
        </div>
        </div>
      </div>
    </div>
  </div>

  <ng-template #editStockReturnModelId let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="viewStockReturnStatus">Edit Stock Return Status</h4>
      <button (click)="modal.dismiss('Cross click')" aria-label="Close" class="close" type="button">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <form (ngSubmit)="updateStock()" [formGroup]="editStockReturn" class="mx-3">
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label class="form-control-label label-disable">Service Name</label>
            <input tabindex="-1" class="form-control form-control-alternative input-disable"  formControlName="service_name" type="text">
          </div>
        </div>
<!--        <div class="col-md-2">-->
<!--          <div class="form-group">-->
<!--            <label class="form-control-label label-disable">Quantity Out</label>-->
<!--            <input tabindex="-1" class="form-control form-control-alternative input-disable" formControlName="qty_out" type="text">-->
<!--          </div>-->
<!--        </div>-->
        <div class="col-md-2">
          <div class="form-group">
            <label class="form-control-label label-disable">Quantity In</label>
            <ng-template class="text-center" #totalEditRemainingQuantity>
              <b>Total Remaining Quantity = {{editStockReturn.get('qty_remaining')?.value}}</b>
              <br><b>Quantity In = {{editStockReturn.get('qty_in')?.value}}</b>
              <br><b>Quantity Lost = {{editStockReturn.get('qty_lost')?.value}}</b>
              <br> <b>Remaining Quantity = {{editStockReturn.get('qty_remaining')?.value - (editStockReturn.get('qty_in')?.value + editStockReturn.get('qty_lost')?.value)}}</b>
            </ng-template>
            <input class="form-control form-control-alternative" (change)="editBookingTotal()"
                   formControlName="qty_in" type="number" placeholder="RQ - {{editStockReturn.get('qty_remaining')?.value}}"
                   [ngbPopover]="totalEditRemainingQuantity" triggers="mouseenter:mouseleave" container="body">
            <div *ngIf="editFormValidation('qty_in')" class="text-danger font-weight-bold" >
              Enter Valid Quantity
            </div>
          </div>
        </div>

        <div class="col-md-2">
          <div class="form-group">
            <label class="form-control-label label-disable">Lost Quantity</label>
            <ng-template class="text-center" #remainingQuantity>
              <b> Remaining Quantity = {{editStockReturn.get('qty_remaining')?.value - (editStockReturn.get('qty_in')?.value + editStockReturn.get('qty_lost')?.value)}}</b>
            </ng-template>
            <input class="form-control form-control-alternative" (change)="editBookingTotal()"  formControlName="qty_lost"
                   max="{{editStockReturn.get('qty_remaining')?.value - editStockReturn.get('qty_in')?.value}}" type="number"
                   [ngbPopover]="remainingQuantity" triggers="mouseenter:mouseleave" container="body">
            <div *ngIf="editFormValidation('qty_lost')" class="text-danger font-weight-bold">
              Enter Valid Quantity
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <label class="form-control-label label-disable">Lost Value</label>
            <input class="form-control form-control-alternative" (change)="editBookingTotal()"  formControlName="lost_value" type="number">
          </div>
        </div>

      </div>
      <div class="row">
        <div class="col-md-2">
          <div class="form-group">
            <label class="form-control-label label-disable">Booking Date</label>
            <input tabindex="-1" class="form-control form-control-alternative input-disable" formControlName="book_date" type="date">
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <label class="form-control-label label-disable">Return Date</label>
            <input class="form-control form-control-alternative" [max]="today" [min]="(editStockReturn.get('book_date')?.value) | date:'yyyy-MM-dd'"
                   (change)="editBookingTotal()" formControlName="date" type="date">

            <div *ngIf="editFormValidation('date')" class="text-danger font-weight-bold">
              Return Date
            </div>
          </div>

        </div>
        <div class="col-md-2">
          <div class="form-group">
            <ng-template #totalAmountPop>
              <I><b>Final Amount Calculation</b></I>
              <br><b>Rate = {{ editStockReturn.get('rate')?.value + editStockReturn.get('extra_rate')?.value }}</b>
              <!--                            <br><b>Quantity In = {{ stock.get('qty_in')?.value }}</b>-->
              <br><b>Booking Days = {{ calculateDiff(editStockReturn.get('date')?.value, editStockReturn.get('book_date')?.value) }}</b>
              <span *ngIf="editStockReturn.get('qty_in')?.value">
                              <br><b>Booking Amount = {{ editStockReturn.get('qty_in')?.value * editStockReturn.get('rate')?.value }}</b>
                            </span>
              <span *ngIf="editStockReturn.get('qty_lost')?.value">
                              <br><b>Lost Quantity Amount = {{ editStockReturn.get('qty_lost')?.value * editStockReturn.get('lost_value')?.value }}</b>
                            </span>
              <br><b>Final Amount = {{editStockReturn.get('total')?.value}}</b>
            </ng-template>

            <label class="form-control-label label-disable">Total</label>
            <input class="form-control form-control-alternative" formControlName="total" type="text"
                   [ngbPopover]="totalAmountPop" triggers="mouseenter:mouseleave" container="body" >

            <div *ngIf="editFormValidation('total')" class="text-danger font-weight-bold">
              Enter Total Value
            </div>
          </div>

        </div>
        <div class="col-md-2">

        </div>
        <div class="col-md-2">

        </div>
        <div class="col-md-2">

        </div>
      </div>
      <div class="row">

      </div>
    </form>
  </ng-template>
  <div class="row mt-4">
    <div class="col-xl-12 order-xl-1">
      <div class="card bg-secondary shadow">

        <div class="card-header bg-white border-0">
          <div class="row align-items-center">

            <div class="col-8">
              <h3 class="mb-0">Stock Return Details</h3>
            </div>
          </div>
        </div>
        <div class="overflow-auto">
          <div class="card shadow">
            <div class="table-responsive">
              <div>
                <table class="table header-fixed align-items-center table-flush">
                  <thead class="thead-light ">
                  <tr>
                    <th class="col-md-4">Service Title</th>
                    <!--                      <th class="col-md-1">Rate</th>-->
                    <!--                      <th class="col-md-1">Extra Rate</th>-->
                    <!--                  <th class="col-md-1">Quantity Out</th>-->
                    <!--                      <th class="col-md-1">Remaining</th>-->
                    <th class="col-md-2">Quantity In</th>
                    <th class="col-md-2">Lost</th>
                    <th class="col-md-1">Lost Value</th>
                    <!--                  <th class="col-md-1">Book Date</th>-->
                    <th class="col-md-1">Return Date</th>
                    <th class="col-md-1">Final Amount</th>
                    <th class="col-md-1">Update Status</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let book of stockReturnDetails">

                    <!--                  <td>{{book.id}}</td>-->
                    <td>{{book.stock_name}}</td>
                    <!--                  <td>{{book.rate}}</td>-->
                    <!--                  <td>{{book.extra_rate}}</td>-->
                    <!--                  <td>{{book.qty_out}}</td>-->
                    <td>{{book.qty_in}}</td>
                    <td>{{book.qty_lost}}</td>
                    <td>{{book.lost_value}}</td>
                    <td>{{book.date}}</td>
                    <td>{{book.total}}</td>

                    <td>

<!--                      <button tabindex="-1"  class="btn btn-sm btn-primary" (click)="editStockReturnModel(editStockReturnModelId,book.id)"> Edit </button>-->
                      <button tabindex="-1" type="submit" class="btn btn-sm bg-danger text-white" (click)="deleteStockReturn(book.id)"> Delete </button>
                    </td>

                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
