
<div class="container-fluid mt--7">
    <div class="row">
      <div class="col">

        <div class="card shadow">
          <div class="card-header border-0">
            <h3 class="mb-0">Menu List</h3>
          </div>
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
              <tr>
                <th>S No</th>
                <th>Menu Category</th>
                <th>Menu Name</th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let Menu of menuData">

                <td>{{Menu.id}}</td>
                <td>{{Menu.menu_category}}</td>
                <td>{{Menu.menu_name}}</td>
                <td>
                  <a class="btn btn-sm btn-primary"
                     routerLink="/Dashboard/Masters/MenuMaster/EditMenu/{{Menu.id}}">
                    <span class="menu-title">Edit</span>
                  </a>
                  <button class="btn btn-sm  btn-danger" (click)="deletemenu(Menu.id)">Delete</button>
                </td>
              </tr>
              </tbody>


            </table>
            <div  *ngIf="noMenuFound" class="card p-4 text-center my-4" style="width: 100%;">
              <b>No Menu is Created yet</b>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
